{{!-- Ammo                                                   --}}
{{!--    Creates an editable view for weapon.                --}}
{{!--                                                        --}}
{{!--    variables                                           --}}
{{!--        item:object      - item data                    --}}
{{!--        config:object    - config data                  --}}
{{!--        cid:number       - component id within item     --}}
{{!--        path:string      - path withing item            --}}
{{!--                                                        --}}
{{!--        component:object - item.data.components[i]      --}}
{{!--                                                        --}}

{{let "editable" (or item.editable item.owner)}}

<div class="flexrow">
    <span>{{ localize "DRDP2.WeaponAttackValue" }}</span>
    <input class="points-score special flex-input" name="{{path}}.attacks[{{iid}}].value" data-dtype="Number" value="{{component.value}}" placeholder="0" {{#unless this.editable}} readonly {{/unless}} />
</div>

<div class="flexrow">
    <span>{{ localize "DRDP2.WeaponRangedForce" }}</span>
    <div class="flexrow">
        <input class="points-score special flex-input" name="{{path}}.force.minimum" data-dtype="Number" value="{{component.force.minimum}}" placeholder="0" {{#unless this.editable}} readonly {{/unless}} />
        <span class="">-</span>
        <input class="points-score special flex-input" name="{{path}}.force.maximum" data-dtype="Number" value="{{component.force.maximum}}" placeholder="0" {{#unless this.editable}} readonly {{/unless}} />
    </div>
</div>

<div class="flexrow">
    <span>{{ localize "DRDP2.WeaponRangedDistance" }}</span>
    <div class="flexrow">
        <input class="points-score special flex-input" name="{{path}}.distance.minimum" data-dtype="Number" value="{{component.distance.minimum}}" placeholder="0" {{#unless this.editable}} readonly {{/unless}} />
         <span class="">-</span>
        <input class="points-score special flex-input" name="{{path}}.distance.maximum" data-dtype="Number" value="{{component.distance.maximum}}" placeholder="0" {{#unless this.editable}} readonly {{/unless}} />
    </div>
</div>

{{#if this.editable}}
{{#each config.SubComponentTypeTemplate.weaponDamage as |damageType diid|}}
<a class="add-component"
   data-component-type="SubComponentTypeTemplate.weaponDamage.{{diid}}"
   data-path="{{../path}}.damages">
    <i class="fas fa-plus"></i>
    {{ localize damageType.name }}
</a>
{{/each}}

<span> {{ localize "DRDP2.WeaponDamage"}}</span>
{{/if}}
{{#each component.damages as |damage diid|}}
<div class="boxed margin-3 padding-3">
    {{#if ../this.editable}}
    <a class="remove-component"
       data-index="{{diid}}"
       data-path="{{../path}}.damages">
        <i class="fas fa-trash"></i>
    </a>
    {{/if}}
    {{ localize damage.name }}

    {{let "damagePath" (concat ../path ".damages[" diid "]")}}
    <div class="flexrow">
        <span>{{ localize "DRDP2.WeaponDamage" }}</span>
        <input class="points-score special flex-input" name="{{this.damagePath}}.value" data-dtype="Number" value="{{damage.value}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
    </div>

    {{#if (eq damage.type "elemental")}}
    {{let "config" ../item.config}}
    <div class="flexrow">
        <span>{{ localize "DRDP2.WeaponDamageElement" }}</span>
        <select name="{{this.damagePath}}.element">
            {{#select damage.element}}
            {{#each this.config.elementalDamage as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{/if}}

    <div class="boxed margin-3 padding-3 flexcol">
        <div class="flexrow">
            <a class="add-component"
               data-component-type="linkTemplate"
               data-path="{{this.damagePath}}.effects">
                {{ localize "DRDP2.DamageEffects" }}
                <i class="fas fa-plus"></i>
            </a>
        </div>
        {{#each damage.effects as |effect eiid|}}
        <div class="flexrow">
            {{#if ../../this.editable}}
            <a class="remove-component flex-20"
               data-index="{{eiid}}"
               data-path="{{../this.damagePath}}.effects">
                <i class="fas fa-trash"></i>
            </a>
            {{/if}}
            <div class="{{#if ../../this.editable}}item-drop{{/if}} flexrow" data-itemType="effect" data-path="{{../this.damagePath}}.effects[{{eiid}}]">
                {{#if (empty effect._id)}}
                <span>{{localize "DRDP2.EmptySlot" itemType=(localize "ITEM.TypeEffect")}}</span>
                {{else}}
                <a class="item-drop-link" data-id="{{effect._id}}" data-pack="{{effect.pack}}">{{effect.name}}</a>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/each}}