{{!-- Armor                                                 --}}
{{!--    Creates an editable view for weapon.                --}}
{{!--                                                        --}}
{{!--    variables                                           --}}
{{!--        item:object      - item data                    --}}
{{!--        config:object    - config data                  --}}
{{!--        editable:boolean - item is editable             --}}
{{!--        cid:number       - component id within item     --}}
{{!--        path:string      - path withing item            --}}
{{!--                                                        --}}
{{!--        component:object - item.data.components[i]      --}}
{{!--                                                        --}}



{{!-- Element type --}}
{{#if (eq damage.type "elemental")}}
{{let "config" ../../item.config}}
<div class="flexrow">
    <span>{{ localize "DRDP2.WeaponDamageElement" }}</span>
    <select name="{{this.damagePath}}.element">
        {{#select damage.element}}
        <option value="any-more">{{localize "DRDP2.DamageElementalAnyMore"}}</option>
        <option value="any-less">{{localize "DRDP2.DamageElementalAnyLess"}}</option>
        {{#each this.config.elementalDamage as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>
{{/if}}