{{!-- Filter (or, and)                                       --}}
{{!--    Creates an editable view for weapon.                --}}
{{!--                                                        --}}
{{!--    variables                                           --}}
{{!--        config:object    - config data                  --}}
{{!--        fid:number       - filter id within filters     --}}
{{!--        path:string      - path withing item            --}}
{{!--                                                        --}}
{{!--        filter:object    - object within path           --}}
{{!--                                                        --}}

{{let "editable" (or item.editable item.owner)}}

{{#if (eq filter.type "items")}}

{{!-- Items --}}
{{#if this.editable}}
<a class="add-component"
   data-component-type="linkTemplate"
   data-path="{{path}}.items">
    <i class="fas fa-plus"></i>
</a>
{{/if}}
{{#each filter.items as |item iiid|}}
<div class="flexrow">
    {{#if ../this.editable}}
    <a class="remove-component flex-20"
       data-index="{{iiid}}"
       data-path="{{../path}}.items">
        <i class="fas fa-trash"></i>
    </a>
    {{/if}}
    <div class="{{#if ../this.editable}}item-drop{{/if}} flexrow" data-itemType="item" data-path="{{../path}}.items[{{iiid}}]">
        {{#if (empty item._id)}}
        <span>{{localize "DRDP2.EmptySlot" itemType=(localize "ITEM.TypeItem")}}</span>
        {{else}}
        <a class="item-drop-link" data-id="{{item._id}}" data-pack="{{item.pack}}">{{item.name}}</a>
        {{/if}}
    </div>
</div>
{{/each}}

{{!-- AND/OR --}}
{{else if (or (eq filter.type "or") (eq filter.type "and"))}}
{{#each filter.filters as |filter fiid|}}
<div class="boxed margin-3 padding-3">
    {{#if ../this.editable}}
    <a class="remove-component"
       data-index="{{fiid}}"
       data-path="{{../path}}.filters">
        <i class="fas fa-trash"></i>
    </a>
    {{/if}}
    <span class="{{#if ../this.editable}}filter{{/if}}"
          {{#if ../this.editable}}
          draggable="{{../this.editable}}"
          data-index="{{fiid}}"
          data-path="{{../path}}.filters"
          {{/if}}>{{ localize filter.name }}</span>
    {{> (component_template "container-filter") item=../item config=../config filter=filter fid=fiid path=(concat ../path ".filters[" fiid "]")}}
</div>
{{/each}}

{{!-- Add new filter --}}
<div class="flexcol">
    {{#if this.editable}}
    {{#each config.SubComponentTypeTemplate.containerFilter as |filterType iid|}}
    <a class="add-component"
       data-component-type="SubComponentTypeTemplate.containerFilter.{{iid}}"
       data-path="{{../path}}.filters">
        <i class="fas fa-plus"></i>
        {{ localize filterType.name }}
    </a>
    {{/each}}
    {{/if}}
</div>
{{else}}

{{!-- Types --}}
<div class="flexrow">
    {{#each config.ComponentTypeTemplate as |componentType ciid|}}
    <label>
        {{ localize componentType.name }}
        <input type="checkbox" name="{{../path}}.types.{{componentType.type}}"
               {{#if (get_value (concat ../path ".types." ciid) ../item)}} checked{{/if}} />
    </label>
    {{/each}}
</div>
{{/if}}