{{!-- Container                                              --}}
{{!--    Creates an editable view for weapon.                --}}
{{!--                                                        --}}
{{!--    variables                                           --}}
{{!--        item:object      - item data                    --}}
{{!--        config:object    - config data                  --}}
{{!--        editable:boolean - item is editable             --}}
{{!--        cid:number       - component id within item     --}}
{{!--        path:string      - path withing item            --}}
{{!--                                                        --}}
{{!--        component:object - item.data.components[i]      --}}
{{!--                                                        --}}

{{let "editable" (or item.editable item.owner)}}

<div class="flexrow">
    <span>{{ localize "DRDP2.ContainerWeightLimit" }}</span>
    <input class="points-score special flex-input" name="{{path}}.weightLimit" data-dtype="Number" value="{{component.weightLimit}}" {{#unless this.editable}} readonly {{/unless}} />
</div>
<div class="flexrow">
    <span>{{ localize "DRDP2.ContainerCountLimit" }}</span>
    <input class="points-score special flex-input" name="{{path}}.countLimit" data-dtype="Number" value="{{component.countLimit}}" {{#unless this.editable}} readonly {{/unless}} />
</div>

<div class="boxed padding-3 flexcol">
    <span>{{ localize "DRDP2.ContainerDisplay" }}</span>
    <div class="flexrow">
        <label>
            {{ localize "DRDP2.ContainerDisplayWeight" }}
            <input type="checkbox" name="{{path}}.display.weight"
                   {{#if (get_value (concat path ".display.weight") item)}} checked{{/if}} />
        </label>
        <label>
            {{ localize "DRDP2.ContainerDisplayCount" }}
            <input type="checkbox" name="{{path}}.display.count"
                   {{#if (get_value (concat path ".display.count") item)}} checked{{/if}} />
        </label>
        <label>
            {{ localize "DRDP2.ContainerDisplayValue" }}
            <input type="checkbox" name="{{path}}.display.value"
                   {{#if (get_value (concat path ".display.value") item)}} checked{{/if}} />
        </label>
    </div>
</div>

{{!-- Filters --}}
<div class="boxed padding-3">
    {{!-- Single addition of filter --}}
    {{#if (and this.editable (eq 0 (get_value (concat path ".filters.length") item)))}}
    {{ localize "DRDP2.ContainerFilter" }}
    <div class="flexcol">
        {{#each config.SubComponentTypeTemplate.containerFilter as |filterType iid|}}
        <a class="add-component"
           data-component-type="SubComponentTypeTemplate.containerFilter.{{iid}}"
           data-path="{{../path}}.filters">
            <i class="fas fa-plus"></i>
            {{ localize filterType.name }}
        </a>
        {{/each}}
    </div>
    {{else}}
    {{!-- List filters --}}
    {{#each component.filters as |filter fiid|}}
    {{#if ../this.editable}}
    <a class="remove-component"
       data-index="{{fiid}}"
       data-path="{{../path}}.filters">
        <i class="fas fa-trash"></i>
    </a>
    {{/if}}
    <span class="{{#if ../this.editable}}filter{{/if}}"
          {{#if ../this.editable}}
          draggable="{{../this.editable}}"
          data-index="{{fiid}}"
          data-path="{{../path}}.filters"
          {{/if}}
          >{{ localize filter.name }}</span>
    {{> (component_template "container-filter") item=../item config=../config filter=filter fid=fiid path=(concat ../path ".filters[" fiid "]")}}
    {{/each}}
    {{/if}}
</div>
