{{!-- Weapon                                                 --}}
{{!--    Creates an editable view for weapon.                --}}
{{!--                                                        --}}
{{!--    variables                                           --}}
{{!--        item:object      - item data                    --}}
{{!--        config:object    - config data                  --}}
{{!--        editable:boolean - item is editable             --}}
{{!--        cid:number       - component id within item     --}}
{{!--        path:string      - path withing item            --}}
{{!--                                                        --}}
{{!--        component:object - item.data.components[i]      --}}
{{!--                                                        --}}

{{let "editable" (or item.editable item.owner)}}

<div class="flexrow">
    <span>{{ localize "DRDP2.WeaponTwohand" }}</span>
    <input class="flex-input" name="{{path}}.twohand" type="checkbox" {{#if component.twohand}} checked{{/if}} {{#unless this.editable}} readonly {{/unless}} />
</div>

{{!-- Attack --}}
<div class="boxed padding-3">
    {{#if this.editable}}
    {{#each config.SubComponentTypeTemplate.weaponAttack as |attackType iid|}}
    <a class="add-component"
       data-component-type="SubComponentTypeTemplate.weaponAttack.{{iid}}"
       data-path="{{../path}}.attacks">
        <i class="fas fa-plus"></i>
        {{ localize attackType.name }}
    </a>
    {{/each}}
    {{/if}}
    {{#each component.attacks as |attack iid|}}
    {{let "attackPath" (concat ../path ".attacks[" iid "]")}}
    <div class="boxed margin-3 padding-3">
        <a class="remove-component"
           data-index="{{iid}}"
           data-path="{{../path}}.attacks">
            <i class="fas fa-trash"></i>
            {{ localize attack.name }}
        </a>

        {{#switch attack.type}}
        {{#case "melee"}}

        <div class="flexrow">
            <span>{{ localize "DRDP2.WeaponAttackValue" }}</span>
            <input class="points-score special flex-input" name="{{../path}}.attacks[{{iid}}].value" data-dtype="Number" value="{{attack.value}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
        </div>

        <div class="flexrow">
            <span>{{ localize "DRDP2.WeaponMeleeForce" }}</span>
            <input class="points-score special flex-input" name="{{../path}}.attacks[{{iid}}].force" data-dtype="Number" value="{{attack.force}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
        </div>

        <div class="flexrow">
            <span>{{ localize "DRDP2.WeaponMeleeDistance" }}</span>
            <div class="flexrow">
                <input class="points-score special flex-input" name="{{../path}}.attacks[{{iid}}].distance" data-dtype="Number" value="{{attack.distance}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
                <div class="">({{table "tableDistanceM" attack.distance}} m)</div>
            </div>
        </div>
        {{/case}}

        {{#case "ranged"}}

        <div class="flexrow">
            <span>{{ localize "DRDP2.WeaponAttackValue" }}</span>
            <input class="points-score special flex-input" name="{{../path}}.attacks[{{iid}}].value" data-dtype="Number" value="{{attack.value}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
        </div>

        <div class="flexrow">
            <span>{{ localize "DRDP2.WeaponRangedForce" }}</span>
            <div class="flexrow">
                <input class="points-score special flex-input" name="{{../path}}.attacks[{{iid}}].force.minimum" data-dtype="Number" value="{{attack.force.minimum}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
                <span class="">-</span>
                <input class="points-score special flex-input" name="{{../path}}.attacks[{{iid}}].force.maximum" data-dtype="Number" value="{{attack.force.maximum}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
            </div>
        </div>

        <div class="flexrow">
            <span>{{ localize "DRDP2.WeaponRangedDistance" }}</span>
            <div class="flexrow">
                <input class="points-score special flex-input" name="{{../path}}.attacks[{{iid}}].distance.minimum" data-dtype="Number" value="{{attack.distance.minimum}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
                <span class="">({{table "tableDistanceM" attack.distance.minimum}} m)</span>

                <span class="">-</span>
                <input class="points-score special flex-input" name="{{../path}}.attacks[{{iid}}].distance.maximum" data-dtype="Number" value="{{attack.distance.maximum}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
                <span class="">({{table "tableDistanceM" attack.distance.maximum}} m)</span>
            </div>
        </div>

        {{!-- Ammo under skill section --}}
        {{/case}}

        {{#case "throwable"}}

        <div class="flexrow">
            <span>{{ localize "DRDP2.WeaponAttackValue" }}</span>
            <input class="points-score special flex-input" name="{{../path}}.attacks[{{iid}}].value" data-dtype="Number" value="{{attack.value}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
        </div>

        <div class="flexrow">
            <span>{{ localize "DRDP2.WeaponThrowForce" }}</span>
            <input class="points-score special flex-input" name="{{../path}}.attacks[{{iid}}].force" data-dtype="Number" value="{{attack.force}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
        </div>

        <div class="flexrow">
            <span>{{ localize "DRDP2.WeaponThrowDistance" }}</span>
            <div class="flexrow">
                <input class="points-score special flex-input" name="{{../path}}.attacks[{{iid}}].distance.minimum" data-dtype="Number" value="{{attack.distance.minimum}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
                <span class="">({{table "tableDistanceM" attack.distance.minimum}} m)</span>

                <span class="">-</span>
                <input class="points-score special flex-input" name="{{../path}}.attacks[{{iid}}].distance.maximum" data-dtype="Number" value="{{attack.distance.maximum}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
                <span class="">({{table "tableDistanceM" attack.distance.maximum}} m)</span>
            </div>
        </div>
        {{/case}}

        {{#common}}

        {{#if ../this.editable}}
        {{#each ../config.SubComponentTypeTemplate.weaponDamage as |damageType diid|}}
        <a class="add-component"
           data-component-type="SubComponentTypeTemplate.weaponDamage.{{diid}}"
           data-path="{{../../path}}.attacks[{{iid}}].damages">
            <i class="fas fa-plus"></i>
            {{ localize damageType.name }}
        </a>
        {{/each}}

        <span> {{ localize "DRDP2.WeaponDamage"}}</span>
        {{/if}}
        {{#each attack.damages as |damage diid|}}
        <div class="boxed margin-3 padding-3">
            {{#if ../this.editable}}
            <a class="remove-component"
               data-index="{{diid}}"
               data-path="{{../../path}}.attacks[{{iid}}].damages">
                <i class="fas fa-trash"></i>
            </a>
            {{/if}}
            {{ localize damage.name }}

            {{let "damagePath" (concat ../../path ".attacks[" iid "].damages[" diid "]")}}
            <div class="flexrow">
                <span>{{ localize "DRDP2.WeaponDamage" }}</span>
                <input class="points-score special flex-input" name="{{this.damagePath}}.value" data-dtype="Number" value="{{damage.value}}" placeholder="0" {{#unless ../../this.editable}} readonly {{/unless}} />
            </div>

            {{#if (eq damage.type "elemental")}}
            {{let "config" ../../item.config}}
            <div class="flexrow">
                <span>{{ localize "DRDP2.WeaponDamageElement" }}</span>
                <select name="{{this.damagePath}}.element">
                    {{#select damage.element}}
                    {{#each this.config.elementalDamage as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            {{/if}}

            <div class="boxed margin-3 padding-3 flexcol">
                {{#if ../../this.editable}}
                <div class="flexrow">
                    <a class="add-component"
                       data-component-type="linkTemplate"
                       data-path="{{this.damagePath}}.effects">
                        {{ localize "DRDP2.DamageEffects" }}
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                {{/if}}
                {{#each damage.effects as |effect eiid|}}
                <div class="flexrow">
                    {{#if ../../../this.editable}}
                    <a class="remove-component flex-20"
                       data-index="{{eiid}}"
                       data-path="{{../this.damagePath}}.effects">
                        <i class="fas fa-trash"></i>
                    </a>
                    {{/if}}
                    <div class="{{#if ../../../this.editable}}item-drop{{/if}} flexrow" data-itemType="effect" data-path="{{../this.damagePath}}.effects[{{eiid}}]">
                        {{#if (empty effect._id)}}
                        <span>{{localize "DRDP2.EmptySlot" itemType=(localize "ITEM.TypeEffect")}}</span>
                        {{else}}
                        <a class="item-drop-link" data-id="{{effect._id}}" data-pack="{{effect.pack}}">{{effect.name}}</a>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}

        {{!-- Skills --}}
        <div class="boxed margin-3 padding-3 flexcol">
            {{#if ../this.editable}}
            <div class="flexrow">
                <a class="add-component"
                   data-component-type="linkTemplate"
                   data-path="{{this.attackPath}}.skills">
                    {{ localize "DRDP2.WeaponSkills" }}
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            {{/if}}
            {{#each attack.skills as |skill siid|}}
            <div class="flexrow">
                {{#if ../../this.editable}}
                <a class="remove-component flex-20"
                   data-index="{{siid}}"
                   data-path="{{../this.attackPath}}.skills">
                    <i class="fas fa-trash"></i>
                </a>
                {{/if}}
                <div class="{{#if ../../this.editable}}item-drop{{/if}} flexrow" data-itemType="skill" data-path="{{../this.attackPath}}.skills[{{siid}}]">
                    {{#if (empty skill._id)}}
                    <span>{{localize "DRDP2.EmptySlot" itemType=(localize "ITEM.TypeSkill")}}</span>
                    {{else}}
                    <a class="item-drop-link" data-id="{{skill._id}}" data-pack="{{skill.pack}}">{{skill.name}}</a>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
        {{/common}}

        {{#default}} <div class="error">Missing component frame for {{attack.type}}</div> {{/default}}

        {{/switch}}

        {{!-- Ammo --}}
        {{#if (eq attack.type "ranged")}}
        <div class="boxed margin-3 padding-3 flexcol">
            {{#if ../this.editable}}
            <div class="flexrow">
                <a class="add-component"
                   data-component-type="linkTemplate"
                   data-path="{{this.attackPath}}.ammo">
                    {{ localize "DRDP2.WeaponAmmo" }}
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            {{/if}}
            {{#each attack.ammo as |ammo aiid|}}
            <div class="flexrow">
                {{#if ../../this.editable}}
                <a class="remove-component flex-20"
                   data-index="{{aiid}}"
                   data-path="{{../this.attackPath}}.ammo">
                    <i class="fas fa-trash"></i>
                </a>
                {{/if}}
                <div class="{{#if ../../this.editable}}item-drop{{/if}} flexrow" data-itemType="item" data-itemComponent="ammo" data-path="{{../this.attackPath}}.ammo[{{aiid}}]">
                    {{#if (empty ammo._id)}}
                    <span>{{localize "DRDP2.EmptySlot" itemType=(localize "ITEM.TypeAmmo")}}</span>
                    {{else}}
                    <a class="item-drop-link" data-id="{{ammo._id}}" data-pack="{{ammo.pack}}">{{ammo.name}}</a>
                    <div class="flexrow">
                        <span>{{ localize "DRDP2.WeaponRangedDistance" }}</span>
                        {{let "minDist" (math ammo.data.distance.minimum "+" attack.distance.minimum)}}
                        <span class="">{{this.minDist}} ({{float (table "tableDistanceM" this.minDist) 2}} m)
                        {{let "maxDist" (math ammo.data.distance.maximum "+" attack.distance.maximum)}}
                        - {{this.maxDist}} ({{float (table "tableDistanceM" this.maxDist) 2}} m)</span>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>

{{!-- Defense --}}
<div class="boxed padding-3">
    {{#if this.editable}}
    {{#each config.SubComponentTypeTemplate.weaponDefense as |defenseType iid|}}
    <a class="add-component"
       data-component-type="SubComponentTypeTemplate.weaponDefense.{{iid}}"
       data-path="{{../path}}.defenses">
        <i class="fas fa-plus"></i>
        {{ localize defenseType.name }}
    </a>
    {{/each}}
    {{/if}}
    {{#each component.defenses as |defense iid|}}
    {{let "defensePath" (concat ../path ".defenses[" iid "]")}}
    <div class="boxed margin-3 padding-3">
        <div class="boxed margin-3 padding-3 flexcol">

            {{!-- Damage Cover --}}
            <div class="flexrow">
                {{#if ../this.editable}}
                <a class="remove-component"
                   data-index="{{iid}}"
                   data-path="{{this.defensePath}}">
                    <i class="fas fa-trash"></i>
                    {{ localize defense.name }}
                </a>
                {{else}}
                <span>{{ localize defense.name }}</span>
                {{/if}}
                <input class="points-score special flex-input" name="{{this.defensePath}}.value" data-dtype="Number" value="{{defense.value}}" placeholder="0" {{#unless ../this.editable}} readonly {{/unless}} />
            </div>

            {{!-- Skills --}}
            <div class="flexrow">
                <a class="add-component"
                   data-component-type="linkTemplate"
                   data-path="{{this.defensePath}}.skills">
                    {{ localize "DRDP2.WeaponSkills" }}
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            {{#each defense.skills as |skill siid|}}
            <div class="flexrow">
                {{#if ../../this.editable}}
                <a class="remove-component flex-20"
                   data-index="{{siid}}"
                   data-path="{{../this.defensePath}}.ammo">
                    <i class="fas fa-trash"></i>
                </a>
                {{/if}}
                <div class="{{#if ../../this.editable}}item-drop{{/if}} flexrow" data-itemType="skill" data-path="{{../this.defensePath}}.skills[{{siid}}]">
                    {{#if (empty skill._id)}}
                    <span>{{localize "DRDP2.EmptySlot" itemType=(localize "ITEM.TypeSkill")}}</span>
                    {{else}}
                    <a class="item-drop-link" data-id="{{skill._id}}" data-pack="{{skill.pack}}">{{skill.name}}</a>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>
