.bar-holder {
    margin: auto;
}

.bar-outline {
    flex: 0 0 8px;
    width: 100%;
    margin-bottom: 5px;
    background: @colorTan;
    border: 1px solid #000;
    border-radius: 3px;

    .bar-value {
        height: 4px;
        margin: 1px;
        display: block;
        background: #afebff;
        border: 1px solid #000;
        border-radius: 2px;
    }
}

.xpbar {
    flex: 0 0 8px;
    width: 100%;
    margin-bottom: 5px;
    background: @colorTan;
    border: 1px solid #000;
    border-radius: 3px;

    .bar {
        height: 4px;
        margin: 1px;
        display: block;
        background: #afebff;
        border: 1px solid #000;
        border-radius: 2px;
    }
}
