.flex-input {
    min-width: 0;
}

.flex-20 {
    flex: 0 0 20px;
}

.flex-30 {
    flex: 0 0 30px;
}

.flex-40 {
    flex: 0 0 40px;
}

.flex-50 {
    flex: 0 0 50px;
}

.flex-60 {
    flex: 0 0 60px;
}

.flex-100 {
    flex: 0 0 100px;
}

.flex-120 {
    flex: 0 0 120px;
}

.flex-200 {
    flex: 0 0 200px;
}
