.undecorated {
    list-style-type: none;
}

.boxed {
    border-color: black;
    border-style: solid;
    border-width: thin;
}

.property-loop (@prop, @i, @step) when (@i > 0) {
    .@{prop}-@{i} {
        @{prop}: ~"@{i}px";
    }

    .property-loop(@prop, @i - @step, @step);
}

// Margin
.property-loop (margin, 100, 10);
.property-loop (margin, 60, 15);
.property-loop (margin, 9, 1);

// Padding
.property-loop (padding, 100, 10);
.property-loop (padding, 60, 15);
.property-loop (padding, 9, 1);