/* Deprecated vars */
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
}
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
}
.modesto {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ----------------------------------------- */
/*  All DnD5e Apps                           */
/* ----------------------------------------- */
.drdp2 {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* Form Groups */
  /* Tags */
}
.drdp2 .window-content {
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.drdp2 input[type="text"],
.drdp2 input[type="number"],
.drdp2 input.special,
.drdp2 select {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.drdp2 input[type="text"]:hover,
.drdp2 input[type="number"]:hover,
.drdp2 input.special:hover,
.drdp2 input[type="text"]:focus,
.drdp2 input[type="number"]:focus,
.drdp2 input.special:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.drdp2 input:disabled,
.drdp2 select:disabled,
.drdp2 textarea:disabled {
  color: #4b4a44;
}
.drdp2 input:disabled:hover,
.drdp2 select:disabled:hover,
.drdp2 textarea:disabled:hover,
.drdp2 input:disabled:focus,
.drdp2 select:disabled:focus,
.drdp2 textarea:disabled:focus {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}
.drdp2 button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}
.drdp2 label.checkbox {
  flex: auto;
  padding: 0;
  margin: 0;
  height: 22px;
  line-height: 22px;
  font-size: 11px;
}
.drdp2 label.checkbox > input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0 2px 0 0;
  position: relative;
  top: 4px;
}
.drdp2 label.checkbox.right > input[type="checkbox"] {
  margin: 0 0 0 2px;
}
.drdp2 .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}
.drdp2 .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.drdp2 .form-group .form-fields > * {
  flex: 1;
}
.drdp2 .form-group .form-fields .flex1 {
  flex: 1;
}
.drdp2 .form-group .form-fields .flex2 {
  flex: 2;
}
.drdp2 .form-group .form-fields .flex3 {
  flex: 3;
}
.drdp2 .form-group .form-fields .flex4 {
  flex: 4;
}
.drdp2 .form-group .form-fields > * {
  margin: 0 3px 0 0;
}
.drdp2 .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.drdp2 .form-group.stacked label {
  flex: 0 0 100%;
  margin: 0;
}
.drdp2 .form-group.stacked label.checkbox {
  flex: auto;
  text-align: left;
}
.drdp2 .form-header {
  margin: 0 0 0.25em 0;
  padding: 2px 0;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.drdp2 .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
.drdp2 .nowrap {
  flex-wrap: nowrap;
}
.drdp2 .flex-less {
  flex-shrink: 1;
}
.drdp2 .flex-fill {
  flex-grow: 1000;
}
/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */
.drdp2.sheet {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Trait Lists                              */
  /* ----------------------------------------- */
}
.drdp2.sheet .window-content {
  overflow-y: hidden;
  padding: 5px;
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.drdp2.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.drdp2.sheet .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.drdp2.sheet input[type="text"],
.drdp2.sheet input[type="number"],
.drdp2.sheet input.special {
  background: none;
  border: 1px solid transparent;
}
.drdp2.sheet input[type="text"]:hover,
.drdp2.sheet input[type="number"]:hover,
.drdp2.sheet input.special:hover,
.drdp2.sheet input[type="text"]:focus,
.drdp2.sheet input[type="number"]:focus,
.drdp2.sheet input.special:focus {
  border: 1px solid #111;
}
.drdp2.sheet select {
  flex: 1;
  font-size: 12px;
  height: 22px;
  background: transparent;
}
.drdp2.sheet .editable .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.drdp2.sheet span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}
.drdp2.sheet .editor {
  height: 100%;
}
.drdp2.sheet .editor .tox-toolbar-overlord,
.drdp2.sheet .editor .tox-toolbar__primary {
  background: none;
}
.drdp2.sheet .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  /* Character Name */
  /* Profile Image */
  /* Header Summary Details */
}
.drdp2.sheet .sheet-header .header-details {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.drdp2.sheet .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.drdp2.sheet .sheet-header h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}
.drdp2.sheet .sheet-header img.profile {
  flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  object-fit: contain;
  border: none;
  border-right: 2px groove #eeede0;
}
.drdp2.sheet .sheet-header .summary {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}
.drdp2.sheet .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #4b4a44;
}
.drdp2.sheet .sheet-header .summary li:last-child {
  border-right: none;
}
.drdp2.sheet .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.drdp2.sheet .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 24px;
  border-bottom: 3px solid #b5b3a4;
}
.drdp2.sheet .sheet-navigation .item.active {
  border-bottom: 3px solid #44191A;
}
.drdp2.sheet .sheet-body {
  flex: 1;
  overflow: hidden;
}
.drdp2.sheet .filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
  max-width: 70%;
}
.drdp2.sheet .filter-list .filter-icon {
  flex: none;
  font-size: 14px;
  color: #7a7971;
}
.drdp2.sheet .filter-list .filter-item {
  text-align: center;
  font-size: 12px;
  margin: 0 6px 0 0;
  border-bottom: 3px solid #b5b3a4;
  white-space: nowrap;
}
.drdp2.sheet .filter-list .filter-item:last-child {
  margin: 0;
}
.drdp2.sheet .filter-list .filter-item:hover {
  text-shadow: 0 0 4px red;
  border-bottom: 3px solid #7a7971;
}
.drdp2.sheet .filter-list .filter-item.active {
  border-bottom: 3px solid #44191A;
}
.drdp2.sheet .traits {
  margin: 5px 0 0;
}
.drdp2.sheet .traits .trait-selector {
  flex: 0 0 16px;
  padding: 2px 0;
  color: #999;
  font-size: 10px;
}
.drdp2.sheet .traits .traits-list {
  flex: 0 0 100%;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.drdp2.sheet .skill-requirement {
  border: 2px groove #eeede0;
  margin: 5px;
}
/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */
#trait-selector .trait-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#trait-selector input[type="text"] {
  height: 24px;
  margin: 2px;
}
.drdp2.sheet.actor {
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Ability Scores                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Skills                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Statuses                                 */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Traits                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Inventory Lists                          */
  /* ----------------------------------------- */
  /* Inventory List Filters */
  /* Encumbrance Bar */
  /* ----------------------------------------- */
  /*  Spellbook                                */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Active Effects                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet footer                             */
  /* ----------------------------------------- */
}
.drdp2.sheet.actor .sheet-header {
  /*.attributes {
            flex: 0 0 100%;
            margin: 0;

            .attribute {
                height: 70px;
                margin: 0;
                border: none;
                border-right: @borderGroove;
                border-radius: 0;

                &:last-child {
                    border-right: none;
                }

                .attribute-value {
                    height: 30px;
                    line-height: 30px;
                }
            }
        }*/
}
.drdp2.sheet.actor .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.drdp2.sheet.actor .sheet-header h1.charname {
  flex: 1;
  height: 60px;
  padding: 0;
}
.drdp2.sheet.actor .sheet-header h1.charname input {
  height: 40px;
  margin: 10px 0;
}
.drdp2.sheet.actor .sheet-header .header-exp {
  flex: 0 0 150px;
  margin-right: 3px;
  height: 60px;
  justify-content: flex-end;
  text-align: right;
}
.drdp2.sheet.actor .sheet-header .summary {
  height: 30px;
  border-bottom: 2px groove #eeede0;
  font-size: 18px;
}
.drdp2.sheet.actor .sheet-header .summary input,
.drdp2.sheet.actor .sheet-header .summary span {
  display: block;
  height: 24px;
  line-height: 24px;
}
.drdp2.sheet.actor .attributes input.temphp {
  width: 48%;
}
.drdp2.sheet.actor .attribute-scores {
  flex: 0 0 150px;
  height: 440px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.drdp2.sheet.actor .attribute-scores .attribute-group {
  margin: 5px;
  padding: 5px;
  border: solid;
  border-width: 1px;
  border-color: black;
  font-size: 20px;
  list-style-type: none;
}
.drdp2.sheet.actor .attribute-scores .attribute {
  text-align: left;
  border: none;
}
.drdp2.sheet.actor .attribute-scores .attribute input.attribute-score {
  height: 30px;
  width: 36px;
  max-width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 20px;
  text-align: right;
}
.drdp2.sheet.actor .proficiency-toggle {
  color: #b5b3a4;
  font-size: 12px;
}
.drdp2.sheet.actor .proficient .proficiency-toggle {
  color: #4b4a44;
}
.drdp2.sheet.actor .locked .proficiency-toggle {
  color: #b5b3a4;
  text-shadow: none;
  cursor: default;
}
.drdp2.sheet.actor ul.skills-list {
  flex: 0 0 180px;
  height: 440px;
  list-style: none;
  margin: 0 5px 0;
  padding: 3px 0 2px;
  border: 2px groove #eeede0;
  border-radius: 3px;
}
.drdp2.sheet.actor ul.skills-list li.skill {
  height: 24px;
  padding: 3px 2px;
}
.drdp2.sheet.actor ul.skills-list li.skill:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.drdp2.sheet.actor ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
}
.drdp2.sheet.actor ul.skills-list li.skill .skill-proficiency {
  flex: 0 0 16px;
  line-height: 18px;
}
.drdp2.sheet.actor ul.skills-list li.skill .skill-attribute {
  flex: 0 0 26px;
  text-transform: capitalize;
}
.drdp2.sheet.actor ul.skills-list li.skill .skill-mod {
  flex: 0 0 20px;
}
.drdp2.sheet.actor ul.skills-list li.skill .skill-passive {
  flex: 0 0 26px;
  text-align: center;
  color: #7a7971;
}
.drdp2.sheet.actor .counters {
  flex: none;
  padding: 5px 0;
  margin: 0;
  border-bottom: 2px groove #eeede0;
}
.drdp2.sheet.actor .counters .counter {
  height: 20px;
  line-height: 20px;
}
.drdp2.sheet.actor .counters .counter h4 {
  flex: auto;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: #4b4a44;
}
.drdp2.sheet.actor .counters .counter .counter-value {
  flex: none;
  text-align: right;
}
.drdp2.sheet.actor .counters .counter .counter-value > * {
  display: inline;
}
.drdp2.sheet.actor .counters .counter input[type="text"],
.drdp2.sheet.actor .counters .counter input[type="number"] {
  height: 20px;
  max-width: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.drdp2.sheet.actor .counters .counter input[type="checkbox"] {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
  top: 4px;
}
.drdp2.sheet.actor .counters .counter span.sep {
  font-size: 12px;
}
.drdp2.sheet.actor .center-pane {
  height: 100%;
  padding: 0 5px 0 3px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.drdp2.sheet.actor .traits .form-group,
.drdp2.sheet.actor .traits .form-group-stacked {
  margin: 0 0 3px 0;
  justify-content: space-between;
}
.drdp2.sheet.actor .traits .configure-flags {
  flex: 1;
}
.drdp2.sheet.actor .traits label {
  flex: none;
  line-height: 20px;
  font-weight: bold;
  margin: 0 10px 0 0;
}
.drdp2.sheet.actor .traits select {
  max-width: 200px;
}
.drdp2.sheet.actor .traits input {
  text-align: right;
}
.drdp2.sheet.actor .traits i.fas {
  float: right;
  margin-right: 3px;
  text-align: right;
  color: #999;
}
.drdp2.sheet.actor .traits i.fas:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.drdp2.sheet.actor .traits .inactive {
  color: #7a7971;
}
.drdp2.sheet.actor .tab.features,
.drdp2.sheet.actor .tab.inventory,
.drdp2.sheet.actor .tab.spellbook {
  overflow-y: hidden;
}
.drdp2.sheet.actor .inventory-filters {
  margin: 0 8px;
  flex: 0 0 20px;
  justify-content: flex-end;
}
.drdp2.sheet.actor .inventory-filters .currency {
  flex: 0 0 100%;
  list-style: none;
  margin: 4px 0 8px;
  padding: 0;
  font-size: 12px;
}
.drdp2.sheet.actor .inventory-filters .currency label {
  flex: 0;
  margin-left: 8px;
  text-align: right;
  line-height: 20px;
  color: #7a7971;
}
.drdp2.sheet.actor .inventory-filters .currency input[type="text"] {
  flex: 0 0 48px;
  text-align: center;
  margin-left: 8px;
  border-bottom: 2px groove #eeede0;
}
.drdp2.sheet.actor .inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}
.drdp2.sheet.actor .inventory-list .item {
  line-height: 30px;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.drdp2.sheet.actor .inventory-list .item:last-child {
  border-bottom: none;
}
.drdp2.sheet.actor .inventory-list .item .item-name {
  cursor: pointer;
  max-height: 30px;
  overflow: hidden;
  color: #191813;
}
.drdp2.sheet.actor .inventory-list .item .item-name .item-image {
  flex: 0 0 30px;
  background-size: 30px;
  margin-right: 5px;
}
.drdp2.sheet.actor .inventory-list .item .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.drdp2.sheet.actor .inventory-list .item .item-name.rollable:hover .item-image {
  background-image: url("../../icons/svg/d20-grey.svg") !important;
}
.drdp2.sheet.actor .inventory-list .item .item-name.rollable .item-image:hover {
  background-image: url("../../icons/svg/d20-black.svg") !important;
}
.drdp2.sheet.actor .inventory-list .item .item-name i.attuned {
  color: #7a7971;
}
.drdp2.sheet.actor .inventory-list .item .item-uses input {
  width: 24px;
  text-align: center;
}
.drdp2.sheet.actor .inventory-list .item .item-properties {
  margin-top: 3px;
}
.drdp2.sheet.actor .inventory-list .item .item-recharge {
  flex: 0 0 80px;
  text-align: right;
  font-size: 11px;
  white-space: nowrap;
}
.drdp2.sheet.actor .inventory-list .inventory-header {
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  line-height: 24px;
}
.drdp2.sheet.actor .inventory-list .inventory-header h3 {
  margin: 0 -5px 0 0;
  padding-left: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
}
.drdp2.sheet.actor .inventory-list .inventory-header .item-image {
  flex: 0 0 30px;
  background-size: 30px;
  margin-right: 5px;
}
.drdp2.sheet.actor .inventory-list .inventory-header .item-controls a.item-create {
  flex: 0 0 100%;
}
.drdp2.sheet.actor .inventory-list .item-detail {
  flex: 0 0 70px;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #c9c7b8;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
}
.drdp2.sheet.actor .inventory-list .item-detail:last-child {
  border-right: none;
}
.drdp2.sheet.actor .inventory-list .item-detail.item-action {
  flex: 0 0 100px;
}
.drdp2.sheet.actor .inventory-list .item-weight {
  flex: 0 0 60px;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
}
.drdp2.sheet.actor .inventory-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.drdp2.sheet.actor .inventory-list .item-controls {
  flex: 0 0 66px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.drdp2.sheet.actor .inventory-list .item-controls > * {
  flex: 1;
}
.drdp2.sheet.actor .inventory-list .item-controls .flex1 {
  flex: 1;
}
.drdp2.sheet.actor .inventory-list .item-controls .flex2 {
  flex: 2;
}
.drdp2.sheet.actor .inventory-list .item-controls .flex3 {
  flex: 3;
}
.drdp2.sheet.actor .inventory-list .item-controls .flex4 {
  flex: 4;
}
.drdp2.sheet.actor .inventory-list .item-controls a {
  flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
}
.drdp2.sheet.actor .inventory-list .item-summary {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 0.25em 0.5em;
  color: #191813;
  border-top: 1px solid #c9c7b8;
}
.drdp2.sheet.actor .encumbrance {
  flex: 0 0 12px;
  background: #7a7971;
  margin: 1px 15px 0 1px;
  border: 1px solid #191813;
  border-radius: 3px;
  position: relative;
}
.drdp2.sheet.actor .encumbrance .encumbrance-bar {
  position: absolute;
  top: 1px;
  left: 1px;
  background: #6c8aa5;
  height: 8px;
  border: 1px solid #cde4ff;
  border-radius: 2px;
}
.drdp2.sheet.actor .encumbrance .encumbrance-label {
  height: 10px;
  padding: 0 5px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  line-height: 12px;
  text-align: right;
  color: #EEE;
  text-shadow: 0 0 5px #000;
}
.drdp2.sheet.actor .encumbrance .encumbrance-breakpoint {
  display: block;
  position: absolute;
}
.drdp2.sheet.actor .encumbrance .encumbrance-breakpoint.encumbrance-33 {
  left: 33%;
}
.drdp2.sheet.actor .encumbrance .encumbrance-breakpoint.encumbrance-66 {
  left: 66%;
}
.drdp2.sheet.actor .encumbrance .arrow-up {
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #666;
}
.drdp2.sheet.actor .encumbrance .arrow-down {
  top: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666;
}
.drdp2.sheet.actor .encumbrance.encumbered .arrow-up {
  border-bottom: 4px solid #000;
}
.drdp2.sheet.actor .encumbrance.encumbered .arrow-down {
  border-top: 4px solid #000;
}
.drdp2.sheet.actor .spellcasting-attribute {
  flex: 0 0 240px;
  margin: 0;
}
.drdp2.sheet.actor .spellcasting-attribute input,
.drdp2.sheet.actor .spellcasting-attribute span {
  flex: 0 0 32px;
  text-align: center;
}
.drdp2.sheet.actor .spellcasting-attribute select {
  margin: 0 5px;
  flex: 0 0 150px;
}
.drdp2.sheet.actor .spellcasting-attribute h3.spell-dc {
  flex: 1;
  text-align: right;
}
.drdp2.sheet.actor .spell-slots,
.drdp2.sheet.actor .spell-comps {
  flex: 0 0 75px;
  padding-right: 5px;
  text-align: right;
  font-size: 12px;
  color: #7a7971;
  border-right: 1px solid #c9c7b8;
}
.drdp2.sheet.actor .spell-slots input {
  display: inline;
  max-width: 20px;
}
.drdp2.sheet.actor .spell-slots .sep {
  font-size: 13px;
  font-weight: normal;
}
.drdp2.sheet.actor .spell-uses {
  padding-right: 8px;
  text-align: right !important;
}
.drdp2.sheet.actor .spell-school,
.drdp2.sheet.actor .spell-action,
.drdp2.sheet.actor .spell-target {
  flex: 0 0 100px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
}
.drdp2.sheet.actor .spell-component {
  line-height: 14px;
}
.drdp2.sheet.actor .spell-component.C,
.drdp2.sheet.actor .spell-component.R {
  display: inline-block;
  text-align: center;
  padding-top: 1px;
  width: 16px;
  color: #c9c7b8;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-radius: 8px;
}
.drdp2.sheet.actor .spellbook-empty .item-controls {
  flex: 1;
}
.drdp2.sheet.actor .effects .effect-name {
  flex: 2;
  align-items: center;
  color: #191813;
}
.drdp2.sheet.actor .effects .effect-name h4 {
  margin: 0;
}
.drdp2.sheet.actor .effects .effect-icon {
  flex: 0 0 30px;
  height: 30px;
  margin-right: 5px;
  border: none;
}
.drdp2.sheet.actor .effects .effect-source,
.drdp2.sheet.actor .effects .effect-duration {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
}
.drdp2.sheet.actor .effects .effect-controls {
  flex: 0 0 60px;
  text-align: right;
}
.drdp2.sheet.actor .effects .effect {
  align-items: center;
  border-bottom: 1px solid #c9c7b8;
}
.drdp2.sheet.actor .effects .effect:last-child {
  border-bottom: none;
}
.drdp2.sheet.actor .editor {
  padding: 0 8px;
}
.drdp2.sheet.actor .sheet-footer .points-info {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.drdp2.sheet.actor .sheet-footer .points-info input.points-score {
  height: 30px;
  width: 36px;
  max-width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 20px;
  text-align: right;
}
.drdp2.sheet.actor .sheet-footer .points-bar .points {
  cursor: pointer;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid black;
  background-color: white;
}
.drdp2.sheet.actor .sheet-footer .points-bar .points .lives {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}
.drdp2.sheet.actor .sheet-footer .points-bar .points .mask {
  width: 20px;
  height: 20px;
  position: relative;
}
.drdp2.sheet.actor .sheet-footer .points-bar .points .mask.margin-left {
  margin-left: 0px;
}
.drdp2.sheet.actor .sheet-footer .points-bar .points .mask.margin-right {
  margin-right: 0px;
}
.drdp2.sheet.actor .sheet-footer .points-bar .points .lives ~ .mask::before {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  content: '\00a0\00a0\00a0';
  font-size: 17px;
}
.drdp2.sheet.actor .sheet-footer .points-bar .points .lives:checked ~ .mask::before {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  content: '\00a0\00a0\00a0';
  font-size: 17px;
}
.drdp2.sheet.actor .sheet-footer .points-bar .points .lives:checked ~ .mask::after {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  content: '\2715';
  color: #f00;
  height: 17px;
  width: 17px;
  font-weight: bold;
  position: absolute;
  font-size: 17px;
  text-align: center;
  top: -19px;
  left: 0px;
}
.drdp2.sheet.actor .sheet-footer .points-bar .points .lives:disabled ~ .mask::before {
  color: #b6b6b6;
  cursor: default;
}
.drdp2.sheet.actor .sheet-footer .points-bar .points:hover .lives:not(:disabled):not(:checked) ~ .mask::before {
  color: #dd7758;
}
#actor-flags .window-content {
  overflow-y: hidden;
}
#actor-flags form {
  height: 100%;
}
#actor-flags .form-body {
  height: calc(100% - 40px);
  padding-right: 8px;
  margin-bottom: 4px;
  overflow-y: auto;
}
.drdp2.sheet.item {
  min-height: 400px;
  max-height: 95%;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Details Form                        */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Loot Sheet (No Tabs)                     */
  /* ----------------------------------------- */
}
.drdp2.sheet.item .sheet-header img.profile {
  border: 2px solid #000;
}
.drdp2.sheet.item .sheet-header .item-subtitle {
  flex: 0 0 100px;
  height: 60px;
  margin: 0;
  padding: 5px;
  text-align: right;
  color: #7a7971;
}
.drdp2.sheet.item .sheet-header .item-subtitle .item-type {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}
.drdp2.sheet.item .sheet-header .item-subtitle .item-status {
  font-size: 16px;
  line-height: 24px;
}
.drdp2.sheet.item .sheet-navigation {
  margin-bottom: 5px;
}
.drdp2.sheet.item .sheet-navigation .item {
  font-size: 18px;
}
.drdp2.sheet.item .sheet-body {
  overflow: hidden;
}
.drdp2.sheet.item .sheet-body .tab {
  padding: 0 5px;
  overflow: hidden auto;
}
.drdp2.sheet.item .sheet-body .item-properties {
  flex: 0 0 120px;
  margin: 5px 5px 5px 0;
  padding-right: 5px;
  border-right: 2px groove #eeede0;
}
.drdp2.sheet.item .sheet-body .item-properties .form-group {
  margin: 0;
}
.drdp2.sheet.item .sheet-body .item-properties .form-group label {
  line-height: 20px;
}
.drdp2.sheet.item .sheet-body .item-properties .form-group input {
  text-align: right;
}
.drdp2.sheet.item .sheet-body .item-properties .properties-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.drdp2.sheet.item .sheet-body .item-properties .properties-list li {
  margin: 3px 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}
.drdp2.sheet.item .details input[type="text"],
.drdp2.sheet.item .details input[type="number"],
.drdp2.sheet.item .details select {
  height: 24px;
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
}
.drdp2.sheet.item .details .form-group span {
  text-align: center;
  line-height: 24px;
}
.drdp2.sheet.item .details .form-group.input-select select {
  flex: 1.8;
}
.drdp2.sheet.item .details .form-group.input-select-select select {
  flex: 1.5;
}
.drdp2.sheet.item .details .form-group.uses-per input {
  flex: 1;
}
.drdp2.sheet.item .details .form-group.uses-per span {
  flex: 0 0 16px;
}
.drdp2.sheet.item .details .form-group.uses-per select {
  flex: 3;
}
.drdp2.sheet.item .details span.sep {
  flex: 0 0 8px;
}
.drdp2.sheet.item .details .prepared {
  flex: 1.3 !important;
  text-align: right;
  padding-right: 10px;
}
.drdp2.sheet.item .details .spell-materials {
  flex: 0 0 100%;
  margin: 0.25em 0;
  justify-content: flex-end;
}
.drdp2.sheet.item .details .spell-materials label {
  flex: 0 0 64px;
  text-align: right;
  margin-right: 5px;
  font-size: 12px;
  line-height: 24px;
}
.drdp2.sheet.item .details .spell-materials input[type="text"] {
  flex: 0 0 48px;
  margin-right: 10px;
}
.drdp2.sheet.item h4.damage-header {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 24px;
  color: #4b4a44;
}
.drdp2.sheet.item .damage-parts {
  list-style: none;
  margin: 0;
  padding: 0;
}
.drdp2.sheet.item .damage-parts .damage-part {
  flex: 0 0 100%;
  padding: 0;
}
.drdp2.sheet.item .damage-parts .damage-part input {
  flex: 3;
}
.drdp2.sheet.item .damage-parts .damage-part select {
  margin-left: 5px;
  flex: 1;
}
.drdp2.sheet.item .damage-control {
  width: 18px;
  flex: 0 0 18px;
  line-height: 24px;
  float: right;
  text-align: right;
  color: #7a7971;
}
.drdp2.sheet.item .recharge.form-group span {
  text-align: right;
  padding-right: 3px;
}
.drdp2.sheet.item .recharge.form-group input[type="text"] {
  flex: 0 0 32px;
  text-align: center;
}
.drdp2.sheet.item .recharge.form-group label.checkbox {
  flex: none;
}
.drdp2.sheet.item .recharge.form-group label.checkbox input {
  width: 16px;
  height: 16px;
  top: 4px;
}
.drdp2.sheet.item .weapon-properties label.checkbox {
  flex: 0 0 98px;
}
.drdp2.sheet.item .loot-header {
  margin-bottom: 10px;
}
.drdp2.sheet.item.race {
  /* ----------------------------------------- */
  /*  Ability Scores                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Skills                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Statuses                                 */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Traits                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Inventory Lists                          */
  /* ----------------------------------------- */
  /* Inventory List Filters */
  /* Encumbrance Bar */
  /* ----------------------------------------- */
  /*  Spellbook                                */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Active Effects                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet footer                             */
  /* ----------------------------------------- */
}
.drdp2.sheet.item.race .attribute-scores {
  flex: 0 0 150px;
  /*height: 440px;*/
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.drdp2.sheet.item.race .attribute-scores .attribute-group {
  margin: 5px;
  padding: 5px;
  border: solid;
  border-width: 1px;
  border-color: black;
  font-size: 20px;
  list-style-type: none;
}
.drdp2.sheet.item.race .attribute-scores .attribute {
  text-align: left;
  border: none;
}
.drdp2.sheet.item.race .attribute-scores .attribute input.attribute-score {
  height: 30px;
  width: 36px;
  max-width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 20px;
  text-align: right;
}
.drdp2.sheet.item.race .proficiency-toggle {
  color: #b5b3a4;
  font-size: 12px;
}
.drdp2.sheet.item.race .proficient .proficiency-toggle {
  color: #4b4a44;
}
.drdp2.sheet.item.race .locked .proficiency-toggle {
  color: #b5b3a4;
  text-shadow: none;
  cursor: default;
}
.drdp2.sheet.item.race ul.skills-list {
  flex: 0 0 180px;
  height: 440px;
  list-style: none;
  margin: 0 5px 0;
  padding: 3px 0 2px;
  border: 2px groove #eeede0;
  border-radius: 3px;
}
.drdp2.sheet.item.race ul.skills-list li.skill {
  height: 24px;
  padding: 3px 2px;
}
.drdp2.sheet.item.race ul.skills-list li.skill:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.drdp2.sheet.item.race ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
}
.drdp2.sheet.item.race ul.skills-list li.skill .skill-proficiency {
  flex: 0 0 16px;
  line-height: 18px;
}
.drdp2.sheet.item.race ul.skills-list li.skill .skill-attribute {
  flex: 0 0 26px;
  text-transform: capitalize;
}
.drdp2.sheet.item.race ul.skills-list li.skill .skill-mod {
  flex: 0 0 20px;
}
.drdp2.sheet.item.race ul.skills-list li.skill .skill-passive {
  flex: 0 0 26px;
  text-align: center;
  color: #7a7971;
}
.drdp2.sheet.item.race .counters {
  flex: none;
  padding: 5px 0;
  margin: 0;
  border-bottom: 2px groove #eeede0;
}
.drdp2.sheet.item.race .counters .counter {
  height: 20px;
  line-height: 20px;
}
.drdp2.sheet.item.race .counters .counter h4 {
  flex: auto;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: #4b4a44;
}
.drdp2.sheet.item.race .counters .counter .counter-value {
  flex: none;
  text-align: right;
}
.drdp2.sheet.item.race .counters .counter .counter-value > * {
  display: inline;
}
.drdp2.sheet.item.race .counters .counter input[type="text"],
.drdp2.sheet.item.race .counters .counter input[type="number"] {
  height: 20px;
  max-width: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.drdp2.sheet.item.race .counters .counter input[type="checkbox"] {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
  top: 4px;
}
.drdp2.sheet.item.race .counters .counter span.sep {
  font-size: 12px;
}
.drdp2.sheet.item.race .center-pane {
  height: 100%;
  padding: 0 5px 0 3px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.drdp2.sheet.item.race .traits .form-group,
.drdp2.sheet.item.race .traits .form-group-stacked {
  margin: 0 0 3px 0;
  justify-content: space-between;
}
.drdp2.sheet.item.race .traits .configure-flags {
  flex: 1;
}
.drdp2.sheet.item.race .traits label {
  flex: none;
  line-height: 20px;
  font-weight: bold;
  margin: 0 10px 0 0;
}
.drdp2.sheet.item.race .traits select {
  max-width: 200px;
}
.drdp2.sheet.item.race .traits input {
  text-align: right;
}
.drdp2.sheet.item.race .traits i.fas {
  float: right;
  margin-right: 3px;
  text-align: right;
  color: #999;
}
.drdp2.sheet.item.race .traits i.fas:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.drdp2.sheet.item.race .traits .inactive {
  color: #7a7971;
}
.drdp2.sheet.item.race .tab.features,
.drdp2.sheet.item.race .tab.inventory,
.drdp2.sheet.item.race .tab.spellbook {
  overflow-y: hidden;
}
.drdp2.sheet.item.race .inventory-filters {
  margin: 0 8px;
  flex: 0 0 20px;
  justify-content: flex-end;
}
.drdp2.sheet.item.race .inventory-filters .currency {
  flex: 0 0 100%;
  list-style: none;
  margin: 4px 0 8px;
  padding: 0;
  font-size: 12px;
}
.drdp2.sheet.item.race .inventory-filters .currency label {
  flex: 0;
  margin-left: 8px;
  text-align: right;
  line-height: 20px;
  color: #7a7971;
}
.drdp2.sheet.item.race .inventory-filters .currency input[type="text"] {
  flex: 0 0 48px;
  text-align: center;
  margin-left: 8px;
  border-bottom: 2px groove #eeede0;
}
.drdp2.sheet.item.race .inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}
.drdp2.sheet.item.race .inventory-list .item {
  line-height: 30px;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.drdp2.sheet.item.race .inventory-list .item:last-child {
  border-bottom: none;
}
.drdp2.sheet.item.race .inventory-list .item .item-name {
  cursor: pointer;
  max-height: 30px;
  overflow: hidden;
  color: #191813;
}
.drdp2.sheet.item.race .inventory-list .item .item-name .item-image {
  flex: 0 0 30px;
  background-size: 30px;
  margin-right: 5px;
}
.drdp2.sheet.item.race .inventory-list .item .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.drdp2.sheet.item.race .inventory-list .item .item-name.rollable:hover .item-image {
  background-image: url("../../icons/svg/d20-grey.svg") !important;
}
.drdp2.sheet.item.race .inventory-list .item .item-name.rollable .item-image:hover {
  background-image: url("../../icons/svg/d20-black.svg") !important;
}
.drdp2.sheet.item.race .inventory-list .item .item-name i.attuned {
  color: #7a7971;
}
.drdp2.sheet.item.race .inventory-list .item .item-uses input {
  width: 24px;
  text-align: center;
}
.drdp2.sheet.item.race .inventory-list .item .item-properties {
  margin-top: 3px;
}
.drdp2.sheet.item.race .inventory-list .item .item-recharge {
  flex: 0 0 80px;
  text-align: right;
  font-size: 11px;
  white-space: nowrap;
}
.drdp2.sheet.item.race .inventory-list .inventory-header {
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  line-height: 24px;
}
.drdp2.sheet.item.race .inventory-list .inventory-header h3 {
  margin: 0 -5px 0 0;
  padding-left: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
}
.drdp2.sheet.item.race .inventory-list .inventory-header .item-controls a.item-create {
  flex: 0 0 100%;
}
.drdp2.sheet.item.race .inventory-list .item-detail {
  flex: 0 0 70px;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #c9c7b8;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
}
.drdp2.sheet.item.race .inventory-list .item-detail:last-child {
  border-right: none;
}
.drdp2.sheet.item.race .inventory-list .item-detail.item-action {
  flex: 0 0 100px;
}
.drdp2.sheet.item.race .inventory-list .item-weight {
  flex: 0 0 60px;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
}
.drdp2.sheet.item.race .inventory-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.drdp2.sheet.item.race .inventory-list .item-controls {
  flex: 0 0 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.drdp2.sheet.item.race .inventory-list .item-controls > * {
  flex: 1;
}
.drdp2.sheet.item.race .inventory-list .item-controls .flex1 {
  flex: 1;
}
.drdp2.sheet.item.race .inventory-list .item-controls .flex2 {
  flex: 2;
}
.drdp2.sheet.item.race .inventory-list .item-controls .flex3 {
  flex: 3;
}
.drdp2.sheet.item.race .inventory-list .item-controls .flex4 {
  flex: 4;
}
.drdp2.sheet.item.race .inventory-list .item-controls a {
  flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
}
.drdp2.sheet.item.race .inventory-list .item-summary {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 0.25em 0.5em;
  color: #191813;
  border-top: 1px solid #c9c7b8;
}
.drdp2.sheet.item.race .encumbrance {
  flex: 0 0 12px;
  background: #7a7971;
  margin: 1px 15px 0 1px;
  border: 1px solid #191813;
  border-radius: 3px;
  position: relative;
}
.drdp2.sheet.item.race .encumbrance .encumbrance-bar {
  position: absolute;
  top: 1px;
  left: 1px;
  background: #6c8aa5;
  height: 8px;
  border: 1px solid #cde4ff;
  border-radius: 2px;
}
.drdp2.sheet.item.race .encumbrance .encumbrance-label {
  height: 10px;
  padding: 0 5px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  line-height: 12px;
  text-align: right;
  color: #EEE;
  text-shadow: 0 0 5px #000;
}
.drdp2.sheet.item.race .encumbrance .encumbrance-breakpoint {
  display: block;
  position: absolute;
}
.drdp2.sheet.item.race .encumbrance .encumbrance-breakpoint.encumbrance-33 {
  left: 33%;
}
.drdp2.sheet.item.race .encumbrance .encumbrance-breakpoint.encumbrance-66 {
  left: 66%;
}
.drdp2.sheet.item.race .encumbrance .arrow-up {
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #666;
}
.drdp2.sheet.item.race .encumbrance .arrow-down {
  top: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666;
}
.drdp2.sheet.item.race .encumbrance.encumbered .arrow-up {
  border-bottom: 4px solid #000;
}
.drdp2.sheet.item.race .encumbrance.encumbered .arrow-down {
  border-top: 4px solid #000;
}
.drdp2.sheet.item.race .spellcasting-attribute {
  flex: 0 0 240px;
  margin: 0;
}
.drdp2.sheet.item.race .spellcasting-attribute input,
.drdp2.sheet.item.race .spellcasting-attribute span {
  flex: 0 0 32px;
  text-align: center;
}
.drdp2.sheet.item.race .spellcasting-attribute select {
  margin: 0 5px;
  flex: 0 0 150px;
}
.drdp2.sheet.item.race .spellcasting-attribute h3.spell-dc {
  flex: 1;
  text-align: right;
}
.drdp2.sheet.item.race .spell-slots,
.drdp2.sheet.item.race .spell-comps {
  flex: 0 0 75px;
  padding-right: 5px;
  text-align: right;
  font-size: 12px;
  color: #7a7971;
  border-right: 1px solid #c9c7b8;
}
.drdp2.sheet.item.race .spell-slots input {
  display: inline;
  max-width: 20px;
}
.drdp2.sheet.item.race .spell-slots .sep {
  font-size: 13px;
  font-weight: normal;
}
.drdp2.sheet.item.race .spell-uses {
  padding-right: 8px;
  text-align: right !important;
}
.drdp2.sheet.item.race .spell-school,
.drdp2.sheet.item.race .spell-action,
.drdp2.sheet.item.race .spell-target {
  flex: 0 0 100px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
}
.drdp2.sheet.item.race .spell-component {
  line-height: 14px;
}
.drdp2.sheet.item.race .spell-component.C,
.drdp2.sheet.item.race .spell-component.R {
  display: inline-block;
  text-align: center;
  padding-top: 1px;
  width: 16px;
  color: #c9c7b8;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-radius: 8px;
}
.drdp2.sheet.item.race .spellbook-empty .item-controls {
  flex: 1;
}
.drdp2.sheet.item.race .effects .effect-name {
  flex: 2;
  align-items: center;
  color: #191813;
}
.drdp2.sheet.item.race .effects .effect-name h4 {
  margin: 0;
}
.drdp2.sheet.item.race .effects .effect-icon {
  flex: 0 0 30px;
  height: 30px;
  margin-right: 5px;
  border: none;
}
.drdp2.sheet.item.race .effects .effect-source,
.drdp2.sheet.item.race .effects .effect-duration {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
}
.drdp2.sheet.item.race .effects .effect-controls {
  flex: 0 0 60px;
  text-align: right;
}
.drdp2.sheet.item.race .effects .effect {
  align-items: center;
  border-bottom: 1px solid #c9c7b8;
}
.drdp2.sheet.item.race .effects .effect:last-child {
  border-bottom: none;
}
.drdp2.sheet.item.race .editor {
  padding: 0 8px;
}
.drdp2.sheet.item.race .sheet-footer .lives {
  border: solid 1px black;
  margin: 0;
}
#actor-flags .window-content {
  overflow-y: hidden;
}
#actor-flags form {
  height: 100%;
}
#actor-flags .form-body {
  height: calc(100% - 40px);
  padding-right: 8px;
  margin-bottom: 4px;
  overflow-y: auto;
}
/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.drdp2.chat-card {
  font-style: normal;
  font-size: 12px;
}
.drdp2.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}
.drdp2.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.drdp2.chat-card .card-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  color: #4b4a44;
}
.drdp2.chat-card .card-header h3:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.drdp2.chat-card .card-content {
  margin: 5px 0;
}
.drdp2.chat-card .card-content h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}
.drdp2.chat-card .card-content > * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.drdp2.chat-card .card-buttons {
  margin: 5px 0;
}
.drdp2.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
  border: 1px solid #CCC;
}
.drdp2.chat-card .card-buttons button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  margin: 2px 0;
}
.drdp2.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}
.drdp2.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 5px 0 0;
  font-size: 10px;
}
.drdp2.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}
.dice-roll .dice-total.success {
  color: inherit;
  background: #c7d0c0;
  border: 1px solid #006c00;
}
.dice-roll .dice-total.failure {
  color: inherit;
  background: #ffdddd;
  border: 1px solid #6e0000;
}
.dice-roll .dice-total.critical {
  color: green;
}
.dice-roll .dice-total.fumble {
  color: red;
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.drdp2.sheet.actor.character {
  min-width: 720px;
  min-height: 680px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Biography                                */
  /* ----------------------------------------- */
}
.drdp2.sheet.actor.character .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.drdp2.sheet.actor.character .sheet-header .charlevel {
  flex: 0 0 20px;
  height: 20px;
  font-size: 18px;
  color: #7a7971;
  white-space: nowrap;
}
.drdp2.sheet.actor.character .sheet-header .experience {
  flex: 0 0 32px;
  margin-bottom: -5px;
  align-items: center;
  font-size: 18px;
}
.drdp2.sheet.actor.character .sheet-header .experience span.max {
  color: #7a7971;
  flex: none;
  margin-left: 3px;
}
.drdp2.sheet.actor.character .sheet-header .attributes a.rest {
  border: 1px solid #b5b3a4;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
  padding: 0 3px;
  margin: 0 3px;
}
.drdp2.sheet.actor.character .sheet-header .attributes .hit-dice {
  font-size: 24px;
}
.drdp2.sheet.actor.character .sheet-header .attributes .initiative .attribute-footer input {
  width: 32px;
}
.drdp2.sheet.actor.character .sheet-header .summary .proficiency {
  text-align: right;
  padding-right: 5px;
}
.drdp2.sheet.actor.character .resource .attribute-value input {
  flex: 0 0 25%;
}
.drdp2.sheet.actor.character .resource .attribute-value label.recharge {
  height: 32px;
  position: relative;
  font-family: "Signika", sans-serif;
  font-size: 11px;
  text-align: center;
  color: #4b4a44;
}
.drdp2.sheet.actor.character .resource .attribute-value label.recharge input[type="checkbox"] {
  height: 14px;
  width: 14px;
  margin: 0;
  top: -6px;
}
.drdp2.sheet.actor.character ul.skills-list {
  flex: 0 0 212px;
}
.drdp2.sheet.actor.character ul.skills-list li.skill {
  padding: 3px;
}
.drdp2.sheet.actor.character ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 13px;
}
.drdp2.sheet.actor.character .item-detail.player-class {
  flex: 0 0 180px;
  text-align: right;
  padding-right: 10px;
}
.drdp2.sheet.actor.character .inventory .item-controls,
.drdp2.sheet.actor.character .spellbook .item-controls {
  flex: 0 0 68px;
}
.drdp2.sheet.actor.character .inventory .item-controls .item-toggle,
.drdp2.sheet.actor.character .spellbook .item-controls .item-toggle {
  color: #b5b3a4;
}
.drdp2.sheet.actor.character .inventory .item-controls .item-toggle.active,
.drdp2.sheet.actor.character .spellbook .item-controls .item-toggle.active {
  color: #4b4a44;
}
.drdp2.sheet.actor.character .inventory .item-controls .item-toggle.fixed,
.drdp2.sheet.actor.character .spellbook .item-controls .item-toggle.fixed {
  color: #44191A;
}
.drdp2.sheet.actor.character .inventory .item-controls .item-toggle.fixed:hover,
.drdp2.sheet.actor.character .spellbook .item-controls .item-toggle.fixed:hover {
  text-shadow: none;
}
.drdp2.sheet.actor.character .characteristics {
  flex: 0 0 180px;
  height: 100%;
  padding: 0 3px 3px;
}
.drdp2.sheet.actor.character .characteristics label {
  flex: 0 0 20px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}
.drdp2.sheet.actor.character .characteristics textarea {
  font-family: "Signika", serif;
  border: 1px solid #c9c7b8;
  resize: none;
}
.drdp2.sheet.actor.character .biography {
  max-width: calc(100% - 180px);
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.drdp2.sheet.actor.npc {
  min-width: 600px;
  min-height: 680px;
}
.drdp2.sheet.actor.npc .header-exp {
  flex: 0 0 80px;
  justify-content: center;
}
.drdp2.sheet.actor.npc .header-exp .cr {
  flex: 0 0 32px;
  line-height: 28px;
  margin-bottom: -5px;
  font-size: 24px;
}
.drdp2.sheet.actor.npc .header-exp .cr input {
  width: 32px;
  padding: 0;
  text-align: center;
}
.drdp2.sheet.actor.npc .header-exp .experience {
  flex: 0 0 18px;
  color: #7a7971;
  font-size: 16px;
}
.drdp2.sheet.actor.npc .summary {
  font-size: 18px;
}
.drdp2.sheet.actor.npc .spellcasting-ability label {
  flex: none;
}
.drdp2.sheet.actor.vehicle .features .item-controls {
  flex: 0 0 68px;
}
.drdp2.sheet.actor.vehicle .features .item-controls .item-toggle {
  color: #b5b3a4;
}
.drdp2.sheet.actor.vehicle .features .item-controls .item-toggle.active {
  color: #4b4a44;
}
.drdp2.sheet.actor.vehicle .counters .counter.creature-cap .counter-value {
  flex: 1;
}
.drdp2.sheet.actor.vehicle .counters .counter.creature-cap input {
  max-width: none;
  text-align: right;
}
.drdp2.sheet.actor.vehicle .counters .counter.cargo-cap input {
  max-width: 40px;
  text-align: right;
}
.bar-holder {
  margin: auto;
}
.bar-outline {
  flex: 0 0 8px;
  width: 100%;
  margin-bottom: 5px;
  background: #7a7971;
  border: 1px solid #000;
  border-radius: 3px;
}
.bar-outline .bar-value {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}
.xpbar {
  flex: 0 0 8px;
  width: 100%;
  margin-bottom: 5px;
  background: #7a7971;
  border: 1px solid #000;
  border-radius: 3px;
}
.xpbar .bar {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}
.flex-input {
  min-width: 0;
}
.flex-20 {
  flex: 0 0 20px;
}
.flex-30 {
  flex: 0 0 30px;
}
.flex-40 {
  flex: 0 0 40px;
}
.flex-50 {
  flex: 0 0 50px;
}
.flex-60 {
  flex: 0 0 60px;
}
.flex-100 {
  flex: 0 0 100px;
}
.flex-120 {
  flex: 0 0 120px;
}
.flex-200 {
  flex: 0 0 200px;
}
.undecorated {
  list-style-type: none;
}
.boxed {
  border-color: black;
  border-style: solid;
  border-width: thin;
}
.margin-100 {
  margin: 100px;
}
.margin-90 {
  margin: 90px;
}
.margin-80 {
  margin: 80px;
}
.margin-70 {
  margin: 70px;
}
.margin-60 {
  margin: 60px;
}
.margin-50 {
  margin: 50px;
}
.margin-40 {
  margin: 40px;
}
.margin-30 {
  margin: 30px;
}
.margin-20 {
  margin: 20px;
}
.margin-10 {
  margin: 10px;
}
.margin-60 {
  margin: 60px;
}
.margin-45 {
  margin: 45px;
}
.margin-30 {
  margin: 30px;
}
.margin-15 {
  margin: 15px;
}
.margin-9 {
  margin: 9px;
}
.margin-8 {
  margin: 8px;
}
.margin-7 {
  margin: 7px;
}
.margin-6 {
  margin: 6px;
}
.margin-5 {
  margin: 5px;
}
.margin-4 {
  margin: 4px;
}
.margin-3 {
  margin: 3px;
}
.margin-2 {
  margin: 2px;
}
.margin-1 {
  margin: 1px;
}
.padding-100 {
  padding: 100px;
}
.padding-90 {
  padding: 90px;
}
.padding-80 {
  padding: 80px;
}
.padding-70 {
  padding: 70px;
}
.padding-60 {
  padding: 60px;
}
.padding-50 {
  padding: 50px;
}
.padding-40 {
  padding: 40px;
}
.padding-30 {
  padding: 30px;
}
.padding-20 {
  padding: 20px;
}
.padding-10 {
  padding: 10px;
}
.padding-60 {
  padding: 60px;
}
.padding-45 {
  padding: 45px;
}
.padding-30 {
  padding: 30px;
}
.padding-15 {
  padding: 15px;
}
.padding-9 {
  padding: 9px;
}
.padding-8 {
  padding: 8px;
}
.padding-7 {
  padding: 7px;
}
.padding-6 {
  padding: 6px;
}
.padding-5 {
  padding: 5px;
}
.padding-4 {
  padding: 4px;
}
.padding-3 {
  padding: 3px;
}
.padding-2 {
  padding: 2px;
}
.padding-1 {
  padding: 1px;
}
