<div class="tab flexrow active" data-group="primary" data-tab="description">

    <div class="item-properties">
        {{#if (eq item.type "item-link")}}
        <div class="form-group">
            <label>{{ localize "DRDP2.ItemQuantity" }}</label>
            <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
        </div>
        {{/if}}

        {{#if (or (eq item.type "item-link") (eq item.type "item"))}}
        <div class="form-group">
            <label>{{ localize "DRDP2.ItemWeight" }}</label>
            <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
        </div>

        <div class="form-group">
            <label>{{ localize "DRDP2.ItemPrice" }}</label>
            <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="Number" />
        </div>
        {{/if}}

        <ol class="properties-list">
            {{#each itemProperties}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>

    {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
</div>