{{#each requirements as |requirement id|}}
    <div class="skill-requirement flexcol" data-req-id="{{id}}">
        {{! Type selection }}
        {{#if (and ../editable (not ../reference))}}
        <div class="flexrow">
            <select style="flex-grow: 1000" name="{{../root}}.{{id}}.type">
                {{#select requirement.type}}
                {{#each ../config.skillReqType as |name req|}}
                <option value="{{req}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <a class="delete-requirement flex-less" data-req-id="{{id}}" data-req-context="{{../root}}">{{localize "DRDP2.SkillReq.del"}}</a>
        </div>
        {{else}}
        <input type="text" readonly value="{{localize (at ../config.skillReqType type)}}" />
        {{/if}}

        {{#if (and ../editable (or (eq "and" requirement.type) (eq "or" requirement.type))) }}
        <div class="req-type-or req-type-and flexcol flex-less">
            <a class="new-requirement" data-req-context="{{../root}}.{{id}}.requirements">{{localize "DRDP2.SkillReq.add"}}</a>

            <div>
                {{> "systems/drdp2/templates/items/parts/skill-requirement.html" editable=../editable config=../config requirements=requirement.requirements root=(concat (concat ../root ".") (concat id ".requirements")) }}
            </div>
        </div>
        {{/if}}

        {{#if (eq "not" requirement.type) }}
        <div class="req-type-not flexcol flex-less">
            {{#if (and ../editable (eq (count requirement.requirements) 0))}}
            <a class="new-requirement flex-less nowrap" data-req-context="{{../root}}.{{id}}.requirements">{{localize "DRDP2.SkillReq.add"}}</a>
            {{/if}}

            <div>
                {{> "systems/drdp2/templates/items/parts/skill-requirement.html" editable=../editable config=../config requirements=requirement.requirements root=(concat (concat ../root ".") (concat id ".requirements")) }}
            </div>
        </div>
        {{/if}}

        {{#if (eq "attribute" requirement.type) }}
        <div class="req-type-attribute hidden flexcol flex-less">
            {{#if ../editable}}
            <select style="flex-grow: 1000" name="{{../root}}.{{id}}.attribute">
                {{#select requirement.attribute}}
                {{#each ../config.attributeList as |name req|}}
                <option value="{{req}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
            {{else}}
            <input type="text" readonly value="{{localize ../config.attributeList.[attribute]}}" />
            {{/if}}
        </div>
        {{/if}}

        {{#if (eq "skill" requirement.type) }}
        <div class="req-type-skill hidden flexcol flex-less">
            {{#if ../editable}}
            <div class="item-drop flexrow flex-less" data-path="{{../root}}.{{id}}" data-itemType="skill" data-old="true">
                {{#if (or (empty requirement.skill) (empty requirement.skill._id))}}
                <span class="flex-fill">{{localize "DRDP2.SkillReq.skill.empty"}}</span>
                {{else}}
                <a class="flex-fill item-drop-link" data-id="{{requirement.skill._id}}" data-pack="{{requirement.skill.pack}}">{{requirement.skill.name}}</a>
                {{/if}}
                <div class="flex-less nowrap">{{localize "DRDP2.SkillReq.skill.level"}}</div>
                <input class="flex-fill" style="max-width: 50px; text-align: right; font-size: 20px" type="number" name="{{../root}}.{{id}}.skill.level" value="{{requirement.skill.level}}" />
            </div>
            <span>{{localize "DRDP2.SkillReq.skill.sethelp"}}</span>
            {{else}}
            <div class="flexrow flex-less" data-path="{{../root}}.{{id}}">
                {{#if (or (empty requirement.skill) (empty requirement.skill._id))}}
                <span class="flex-fill">{{localize "DRDP2.SkillReq.skill.empty"}}</span>
                {{else}}
                <a class="flex-fill item-drop-link" data-id="{{requirement.skill._id}}" data-pack="{{requirement.skill.pack}}">{{requirement.skill.name}}</a>
                {{/if}}
                <div class="flex-less nowrap">{{localize "DRDP2.SkillReq.skill.level"}}</div>
                <input class="flex-fill" readonly style="max-width: 50px; text-align: right; font-size: 20px" type="number" name="{{../root}}.{{id}}.skill.level" value="{{requirement.skill.level}}" />
            </div>
            {{/if}}
        </div>
        {{/if}}
    </div>
{{/each}}
