<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DRDP2.Name' }}" />
            </h1>

            <aside class="header-exp flexcol">
                <div class="charlevel">
                    <label>{{ localize "DRDP2.Level" }} {{data.details.level}}</label>

                    {{#if (and (lt data.details.level (setting "drdp2.maxLevel")) (gte data.details.xp.value data.details.xp.max))}}
                    <a class="item-control level-add" title="{{ localize "DRDP2.NewLevel" }}">
                        <i class="fas fa-plus"></i>
                    </a>
                    {{/if}}
                    {{#if (and (gt data.details.level 1) (lt data.details.xp.value 0))}}
                    <a class="item-control level-rem" title="{{ localize "DRDP2.DegradeLevel" }}">
                        <i class="fas fa-minus"></i>
                    </a>
                    {{/if}}
                </div>

                {{#unless disableExperience}}
                <div class="experience flexrow">
                    <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" placeholder="0" data-dtype="Number" />
                    <span class="sep">/</span>
                    <span class="max">{{data.details.xp.max}}</span>
                </div>
                <div class="xpbar">
                    <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
                </div>
                {{/unless}}
            </aside>

            {{!-- Character Summary --}}
            <ul class="summary flexrow">
                <li>
                    {{get_race actor}}
                </li>
                <li>
                    {{get_background actor}}
                </li>
            </ul>
            <ul class="summary flexrow">
                <li class="flexrow">
                    <label>{{ localize "DRDP2.Height" }}</label>
                    <input style="text-align: right" type="number" name="data.details.height.display" value="{{data.details.height.display}}" placeholder="{{ localize 'DRDP2.Height' }}" />
                    <label>cm</label>
                </li>
                <li class="flexrow">
                    <label>{{ localize "DRDP2.Weight" }}</label>
                    <input style="text-align: right" type="number" name="data.details.weight.display" value="{{data.details.weight.display}}" placeholder="{{ localize 'DRDP2.Weight' }}" />
                    <label>kg</label>
                </li>
            </ul>
        </section>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "DRDP2.Attributes" }}</a>
        <a class="item" data-tab="inventory">{{ localize "DRDP2.Inventory" }}</a>
        <a class="item" data-tab="features">{{ localize "DRDP2.Skills" }}</a>
        <!--<a class="item" data-tab="spellbook">{{ localize "DRDP2.Spellbook" }}</a>-->
        <!--<a class="item" data-tab="effects">{{ localize "DRDP2.Effects" }}</a>-->
        <a class="item" data-tab="biography">{{ localize "DRDP2.Biography" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{> "systems/drdp2/templates/parts/attributes.html"}}

            <div class="combat-summary flexcol">

            </div>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/drdp2/templates/actors/parts/actor-inventory.html" sections=items overweight=weight.weightInfo}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab skills flexcol" data-group="primary" data-tab="features">
            {{> "systems/drdp2/templates/actors/parts/actor-skills.html" points=data.attributes.skills sections=skills}}
        </div>

        {{!-- Spellbook Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
        </div>

        {{!-- Biography Tab --}}
        <div class="tab flexrow" data-group="primary" data-tab="biography">
            <div class="biography" style="width: 100%; height: 100%">
                {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>

    <footer class="sheet-footer bars flexrow">
        <div class="flexrow">
            <div class="points-info flexcol flex-100">
                <div class="flexrow nowrap">
                    <h4 class="attribute-name box-title">{{localize "DRDP2.Attribute.hp.damage"}}</h4>
                    <input class="points-score special" name="data.attributes.hp.damage" data-dtype="Number" value="{{data.attributes.hp.damage}}" placeholder="0" />
                    <span> / </span>
                    <input class="points-score" name="data.attributes.hp.total" type="Number" value="{{data.attributes.hp.total}}" placeholder="0" readonly />
                </div>
                <div class="flexrow nowrap">
                    <h4 class="attribute-name box-title">{{localize "DRDP2.Attribute.hp.pain"}}</h4>
                    <input class="points-score" name="data.attributes.hp.pain.value" type="Number" value="{{data.attributes.hp.pain.value}}" placeholder="0" readonly />
                </div>
            </div>
            <div class="points-bar flexcol">
                {{#times data.attributes.hp data.attributes.hp.lines}}
                <div class="flexrow">
                    {{#times1 @context @index @context.line }}
                    <label class="points">
                        <input class="lives"
                               type="checkbox"
                               data-value="{{@index}}"
                               {{#if (gt @context.damage @index)}} checked {{/if}} />
                        <span class="mask"></span>
                    </label>
                    {{/times1 }}
                </div>
                {{/times}}
            </div>
        </div>
    </footer>
</form>
