<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DRD.ItemName' }}" />
            </h1>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DRDP2.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DRDP2.Details" }}</a>
        <a class="item" data-tab="attributes">{{ localize "DRDP2.Attributes" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/drdp2/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <div class="flexrow">
                <label>{{ localize "DRDP2.Background.ValuePoints" }}</label>
                <input type="number" id="data.points.value" readonly value="{{data.points.value}}" />
            </div>

            <div class="scrollY">
                <h2>{{ localize "DRDP2.Background.SectionType" }}</h2>
                <label for="background">
                    <input type="radio" class="background-type" name="backgroundTypeList" id="background" {{#if (eq data.type "background")}} checked {{/if}} />
                    {{ localize "DRDP2.Background.type.background" }}
                </label>
                <label for="combined">
                    <input type="radio" class="background-type" name="backgroundTypeList" id="combined" {{#if (eq data.type "combined")}} checked {{/if}} />
                    {{ localize "DRDP2.Background.type.combined" }}
                </label>
                <label for="attributes">
                    <input type="radio" class="background-type" name="backgroundTypeList" id="attributes" {{#if (eq data.type "attributes")}} checked {{/if}} />
                    {{ localize "DRDP2.Background.type.attributes" }}
                </label>

                <h2>{{ localize "DRDP2.Background.SectionFamily" }}</h2>
                <select name="data.points.origin" class="background-family">
                    {{#select data.points.origin}}
                    {{#each config.backgroundFamilyType as |id value|}}
                    <option value="{{value}}">
                        {{value}}: {{localize (concat "DRDP2.Background.family." id)}}
                    </option>
                    {{/each}}
                    {{/select}}
                </select>

                <h2>{{ localize "DRDP2.Background.SectionSkills" }}</h2>
                <div>{{localize "DRDP2.Background.InfoMinimal3"}}</div>
                <select name="data.points.skills" class="background-skills">
                    {{#select data.points.skills}}
                    {{#each config.backgroundSkillCount as |count value|}}
                    <option value="{{value}}">
                        {{value}}: {{count}}
                    </option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="attribute-name">{{localize "DRDP2.Background.AttributesPoints" points=(math data.points.attributes.total "-" (object_total_recurse data.attributes))}}</div>
            <div class="attribute-name">{{localize "DRDP2.Background.AttributesSingleLimit" points=data.points.attributes.single}}</div>
            <div class="attribute-scores">
                <div class="attribute-group flexcol">
                    {{#each config.mainAttributes.body as |attribute id|}}
                    <div class="attribute flexrow" data-set="body" data-attribute="{{id}}">
                        <h4 class="attribute-name box-title">{{attr "body" id}}</h4>
                        <input class="attribute-score" name="data.attributes.body.{{id}}.base" type="number" value="{{attr_base ../data.attributes "body" id}}" placeholder="0" />
                    </div>
                    {{/each}}
                </div>
                <div class="attribute-group flexcol">
                    {{#each config.mainAttributes.mind as |attribute id|}}
                    <div class="attribute flexrow" data-set="mind" data-attribute="{{id}}">
                        <h4 class="attribute-name box-title">{{attr "mind" id}}</h4>
                        <input class="attribute-score" name="data.attributes.mind.{{id}}.base" type="number" value="{{attr_base ../data.attributes "mind" id}}" placeholder="0" />
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</form>
