<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DRDP2.ItemName' }}" />
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    <input type="text" name="data.rarity" value="{{data.rarity}}" placeholder="{{ localize 'DRDP2.Rarity' }}" />
                </li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'DRDP2.Source' }}" />
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DRDP2.Description" }}</a>
        {{#each data.components as |component iid|}}
        <a class="item" data-tab="component{{ iid }}">
            {{ localize component.name }}
        </a>
        {{#if ../editable}}
        <a class="item remove-component flex-20" data-path="data.components" data-index="{{ iid }}" title="{{ localize "DRDP2.RemoveComponent" }}">
            <i class="fas fa-trash"></i>
        </a>
        {{/if}}
        {{/each}}
        {{#if editable}}
        <a class="item flex-20" data-tab="new-component" title="{{ localize "DRDP2.AddComponent" }}">
            <i class="fas fa-plus"></i>
        </a>
        {{/if}}
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/drdp2/templates/items/parts/item-description.html"}}

        {{#each data.components as |component iid|}}
        <div class="tab component" data-group="primary" data-tab="component{{iid}}">
            {{> (component_template component.type) item=../this config=../config component=component cid=iid path=(concat "data.components[" iid "]")}}
        </div>
        {{/each}}

        <div class="tab new-component" data-group="primary" data-tab="new-component">
            <ul>
                {{#each config.ComponentTypeTemplate as |component iid|}}
                <li><a class="add-component" data-path="data.components" data-component-type="ComponentTypeTemplate.{{iid}}">{{ localize component.name }}</a></li>
                {{/each}}
            </ul>
        </div>
    </section>
</form>
