<form class="{{cssClass}} race flexcol" autocomplete="off">

    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DRD.ItemName' }}" />
            </h1>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DRDP2.Description" }}</a>
        <a class="item" data-tab="attributes">{{ localize "DRDP2.Attributes" }}</a>
        <a class="item" data-tab="skills">{{ localize "DRDP2.Skills" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/drdp2/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
            <div class="attribute-scores">
                {{!-- Ability Scores --}}
                <div class="attribute-group flexcol">
                    {{#each config.mainAttributes.body as |attribute id|}}
                    <div class="attribute flexrow" data-set="body" data-attribute="{{id}}">
                        <h4 class="attribute-name box-title">{{attr "body" id}}</h4>
                        <input class="attribute-score" name="data.attributes.body.{{id}}.base" type="number" value="{{attr_base ../data.attributes "body" id}}" placeholder="0" />
                    </div>
                    {{/each}}
                </div>
                <div class="attribute-group flexcol">
                    {{#each config.mainAttributes.mind as |attribute id|}}
                    <div class="attribute flexrow" data-set="mind" data-attribute="{{id}}">
                        <h4 class="attribute-name box-title">{{attr "mind" id}}</h4>
                        <input class="attribute-score" name="data.attributes.mind.{{id}}.base" type="number" value="{{attr_base ../data.attributes "mind" id}}" placeholder="0" />
                    </div>
                    {{/each}}
                </div>
                <div class="attribute-group flexcol">
                    {{#each config.mainAttributes.sizes as |attribute id|}}
                    <div class="attribute flexrow" data-set="sizes" data-attribute="{{id}}">
                        <h4 class="attribute-name box-title">{{attr "sizes" id}}</h4>
                        <input class="attribute-score" name="data.attributes.sizes.{{id}}.base" type="number" value="{{attr_base ../data.attributes "sizes" id}}" placeholder="0" />
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="attribute-scores">
                <div class="attribute-group flexcol">
                    {{#each config.mainAttributes.reaction as |attribute id|}}
                    <div class="attribute flexrow" data-set="reaction" data-attribute="{{id}}">
                        <h4 class="attribute-name box-title">{{attr "reaction" id}}</h4>
                        <input class="attribute-score" name="data.attributes.reaction.{{id}}.base" type="number" value="{{attr_base ../data.attributes "reaction" id}}" placeholder="0" />
                    </div>
                    {{/each}}
                </div>
                <div class="attribute-group flexcol">
                    {{#each config.mainAttributes.visage as |attribute id|}}
                    <div class="attribute flexrow" data-set="visage" data-attribute="{{id}}">
                        <h4 class="attribute-name box-title">{{attr "visage" id}}</h4>
                        <input class="attribute-score" name="data.attributes.visage.{{id}}.base" type="number" value="{{attr_base ../data.attributes "visage" id}}" placeholder="0" />
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="attribute-scores">
                <div class="attribute-group flexcol">
                    {{#each config.mainAttributes.senses as |attribute id|}}
                    <div class="attribute flexrow" data-set="reaction" data-attribute="{{id}}">
                        <h4 class="attribute-name box-title">{{attr "senses" id}}</h4>
                        <input class="attribute-score" name="data.attributes.senses.{{id}}.base" type="number" value="{{attr_base ../data.attributes "senses" id}}" placeholder="0" />
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="attribute-scores">
                <div class="attribute-group flexcol">
                    {{#each config.mainAttributes.combat.init as |attribute id|}}
                    <div class="attribute flexrow" data-set="reaction" data-attribute="{{id}}">
                        <h4 class="attribute-name box-title">{{attr "combat.init" id}}</h4>
                        <input class="attribute-score" name="data.attributes.combat.init.{{id}}.base" type="number" value="{{attr_base ../data.attributes "combat.init" id}}" placeholder="0" />
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="attribute-scores">
                <div class="attribute-group flexcol">
                    {{#each config.mainAttributes.combat.attack as |attribute id|}}
                    <div class="attribute flexrow" data-set="visage" data-attribute="{{id}}">
                        <h4 class="attribute-name box-title">{{attr "combat.attack" id}}</h4>
                        <input class="attribute-score" name="data.attributes.combat.attack.{{id}}.base" type="number" value="{{attr_base ../data.attributes "combat.attack" id}}" placeholder="0" />
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="attribute-scores">
                <div class="attribute-group flexcol">
                    {{#each config.mainAttributes.combat.defense as |attribute id|}}
                    <div class="attribute flexrow" data-set="visage" data-attribute="{{id}}">
                        <h4 class="attribute-name box-title">{{attr "combat.defense" id}}</h4>
                        <input class="attribute-score" name="data.attributes.combat.defense.{{id}}.base" type="number" value="{{attr_base ../data.attributes "combat.defense" id}}" placeholder="0" />
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</form>
