<form class="{{cssClass}} race flexcol" autocomplete="off">

    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DRDP2.ItemName' }}" />
            </h1>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DRDP2.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DRDP2.Details" }}</a>
        <a class="item" data-tab="requirements">{{ localize "DRDP2.SkillReq.tab" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/drdp2/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <div class="flexrow">
                <div class="nowrap">{{localize "DRDP2.SkillGroup.Type"}}</div>

                {{#if (eq data.type "class")}}
                <div class="item-drop" data-path="data.class" data-itemType="class">
                    {{#if (not data.class)}}
                    <span class="flex-fill">{{localize "DRDP2.SkillGroup.NoClass"}}</span>
                    {{else}}
                    <a class="flex-fill item-drop-link" data-id="{{data.class._id}}" data-pack="{{data.class.pack}}">{{data.class.name}}</a>
                    {{/if}}
                </div>
                {{/if}}

                <select name="data.type">
                    {{#select data.type}}
                    {{#each config.skillGroup as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="flexrow">
                <div class="nowrap">{{localize "DRDP2.MaxLevel"}}</div>
                <input name="data.level" type="number" min="1" value="{{default_value data.level 3}}" />
            </div>
        </div>

        {{!-- Requirements Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="requirements">
            {{#if (and editable (eq (count data.requirements) 0))}}
            <a class="new-requirement flex-less nowrap" data-req-context="data.requirements">{{localize "DRDP2.SkillReq.add"}}</a>
            {{/if}}

            <div class="flex-fill">
                {{> "systems/drdp2/templates/items/parts/skill-requirement.html" editable=editable config=config requirements=data.requirements root="data.requirements" }}
            </div>
        </div>
    </section>
</form>
