<form class="{{cssClass}} flexcol" autocomplete="off">

    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DRD.ItemName' }}" />
            </h1>
        </div>
    </header>

    <div class="flexrow">
        <select name="data.category">
            {{#select data.category}}
            {{#each config.weaponCategory as |name cat|}}
            <option value="{{cat}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</form>
