<div class="flexrow flex-20">
    <div class="flexcol">
        <div>
            {{localize "DRDP2.InventoryWeight" weight=(float weight.total 2) combatWeight=(float weight.combat 2)}}
        </div>
        <div style="font-weight: bold">
            {{localize overweight}}
        </div>
    </div>
    <div class="flexrow">
        <div class="bar-holder" style="text-align: right">
            <div class="bar-outline">
                <span class="bar-value"
                      style="width: {{weight.counted.[0]}}%; opacity: {{math 100 "*" weight.counted.[0]}}"></span>
            </div>
            {{weight.limit.[0]}} kg
        </div>
        <div class="bar-holder" style="text-align: right">
            <div class="bar-outline">
                <span class="bar-value"
                      style="width: {{weight.counted.[1]}}%; opacity: {{math 100 "*" weight.counted.[1]}}"></span>
            </div>
            {{weight.limit.[1]}} kg
        </div>
        <div class="bar-holder" style="text-align: right">
            <div class="bar-outline">
                <span class="bar-value"
                      style="width: {{weight.counted.[2]}}%; opacity: {{math 100 "*" weight.counted.[2]}}"></span>
            </div>
            {{weight.limit.[2]}} kg
        </div>
        <div class="bar-holder" style="text-align: right">
            <div class="bar-outline">
                <span class="bar-value"
                      style="width: {{weight.counted.[3]}}%; opacity: {{math 100 "*" weight.counted.[3]}}"></span>
            </div>
            {{weight.limit.[3]}} kg
        </div>
        <div class="bar-holder" style="text-align: right">
            <div class="bar-outline">
                <span class="bar-value"
                      style="width: {{weight.counted.[4]}}%; opacity: {{math 100 "*" weight.counted.[4]}}"></span>
            </div>
            {{weight.limit.[4]}} kg
        </div>
    </div>
</div>

<div class="inventory-filters flexrow">

    <!--{{#unless isNPC}}
    <ol class="currency flexrow">
        <h3>
            {{localize "DND5E.Currency"}}
            <a class="currency-convert" title="Convert Currency"><i class="fas fa-coins"></i></a>
        </h3>
        {{#each data.currency as |v k|}}
        <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
        <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number" />
        {{/each}}
    </ol>
    {{/unless}}-->
    {{#unless isVehicle}}
    <ul class="filter-list flexrow" data-filter="inventory">
        <li class="filter-item" data-filter="action">{{localize "DND5E.Action"}}</li>
        <li class="filter-item" data-filter="bonus">{{localize "DND5E.BonusAction"}}</li>
        <li class="filter-item" data-filter="reaction">{{localize "DND5E.Reaction"}}</li>
        <li class="filter-item" data-filter="equipped">{{localize "DND5E.Equipped"}}</li>
    </ul>
    {{/unless}}
</div>

{{let "hidePrices" (call (get_value "settings" (global "game")) "get" "drdp2" "hideItemPrice")}}
<ol class="inventory-list"
    {{#each sections as |section sid|}}
    {{#if @last}}
    data-container="{{section.key}}"
    {{/if}}
    {{/each}}>
    {{#each sections as |section sid|}}
    <li class="inventory-header flexrow" data-container="{{section.key}}">
        <div class="item-image" style="background-image: url('{{section.img}}')"></div>
        <h3 class="item-name flexrow">{{localize section.label}}</h3>

        {{#if section.columns}}
        {{#each section.columns}}
        <div class="item-detail {{css}}">{{label}}</div>
        {{/each}}
        {{/if}}
        {{#unless ../this.hidePrices}}
        <div class="item-detail item-value">
            {{#if section.display.value}}
            {{float section.value 2}}
            {{else}}
            {{localize "DRDP2.ItemPrice"}}
            {{/if}}
        </div>
        {{/unless}}
        <div class="item-detail item-weight">
            {{#if section.display.weight}}
            <span {{#if (and section.display.weight (gt section.weight section.limit.weight))}} style="color: red" {{/if}}>
                {{float section.weight 1}}
            </span>
            / {{float section.limit.weight 1}}
            {{else}}
            {{localize "DRDP2.ItemWeight"}}
            {{/if}}
        </div>
        <div class="item-detail item-count">
            {{#if section.display.count}}
            <span {{#if (and section.display.count (gt section.count section.limit.count))}} style="color: red" {{/if}}>
                {{section.count}}
            </span>
            / {{section.limit.count}}
            {{else}}
            {{localize "DRDP2.ItemQuantity"}}
            {{/if}}
        </div>

        {{#if ../owner}}
        <div class="item-controls">
            <a class="item-control item-create" title='{{localize "DND5E.ItemCreate"}}'
               {{#each section.dataset as |v k|}} data-{{k}}="{{v}}" {{/each}}>
                <i class="fas fa-plus"></i>
            </a>
        </div>
        {{/if}}
    </li>

    <ol class="item-list" data-container="{{section.key}}">
        {{#each section.items as |item iid|}}
        <li class="item flexrow {{section.css}}"
            data-item-id="{{#if section.editableName}}{{iid}}{{else}}{{item._id}}{{/if}}"
            data-origin="{{item.data.data.origin}}"
            data-pack="{{item.data.data.pack}}">
            <div class="item-name flexrow rollable">
                {{#if section.editableName}}
                <input type="text" value="{{item.name}}">
                {{else}}
                <div class="item-image" style="background-image: url('{{item.img}}')"></div>

                <a class="item-control item-link" title="{{localize "ITEM.Link"}}">
                    <h4>{{item.name}}</h4>
                </a>
                {{/if}}
            </div>

            {{#if section.columns}}
            {{#each section.columns}}
            <div class="item-detail {{css}}">
                {{#with (getProperty item property)}}
                {{#if ../editable}}
                <input type="text" value="{{this}}" placeholder="&mdash;"
                       data-dtype="{{../editable}}" data-property="{{../property}}">
                {{else}}
                {{this}}
                {{/if}}
                {{/with}}
            </div>
            {{/each}}
            {{/if}}
            {{#unless ../../this.hidePrices}}
            <div class="item-detail item-value">
                {{#if (not (eq 0 item.price))}}
                {{ float item.price 2 }}
                {{/if}}
            </div>
            {{/unless}}

            <div class="item-detail item-weight">
                {{#if item.weight}}
                {{ float item.weight 2 }} kg
                {{/if}}
            </div>

            <div class="item-detail item-count">
                <input type="text" class="item-edit flex-input special"
                       name="data.quantity"
                       data-item="{{item._id}}"
                       value="{{default_value item.data.data.quantity 1}}"
                       data-dtype="Number"
                       {{#unless ../../owner}} readonly{{/unless}} />
            </div>

            {{#if ../../owner}}
            <div class="item-controls">
                {{#unless @root.isVehicle}}
                <a class="item-control item-toggle {{item.toggleClass}}" title='{{item.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                {{/unless}}
                {{#unless section.editableName}}
                <a class="item-control item-edit" title='{{localize "DND5E.ItemEdit"}}'><i class="fas fa-edit"></i></a>
                {{/unless}}
                <a class="item-control item-delete" title='{{localize "DND5E.ItemDelete"}}'><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
        {{/each}}
    </ol>
    {{/each}}
</ol>
