{{#unless isNPC}}
<div style="flex-shrink: 1">
    <div class="attribute flexrow">
        <h4 class="attribute-name box-title">{{localize "DRDP2.Attribute.skills"}}</h4>
        <input class="attribute-score" name="data.attributes.skills.points" type="number" value="{{math points.points "-" points.used}}" placeholder="0" readonly />
    </div>
</div>
{{/unless}}


<ol class="inventory-list" style="flex-grow: 1000">
    {{#if (eq 0 (count sections))}}
    <li class="inventory-header">
        <h3 class="item-name flexrow">{{localize "DRDP2.SkillsNone"}}</h3>
    </li>
    {{/if}}
    {{#each sections as |section sid|}}
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{localize section.label}}</h3>

        {{#if section.hasActions}}
        <div class="item-detail item-uses">{{localize "DND5E.Uses"}}</div>
        <div class="item-detail item-action">{{localize "DND5E.Usage"}}</div>
        {{/if}}

        {{#if section.columns}}
        {{#each section.columns}}
        <div class="item-detail {{css}}">{{label}}</div>
        {{/each}}
        {{/if}}
    </li>

    <ol class="item-list">
        {{#each section.items as |item iid|}}
        <li class="item flexrow {{#if isDepleted}}depleted{{/if}}" data-item-id="{{item._id}}" data-origin="{{item.data.data.origin}}" data-pack="{{item.data.data.pack}}">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('{{item.img}}')"></div>

                <a class="item-control item-link" title="{{localize "ITEM.Link"}}">
                    <h4>{{item.name}} {{romans item.data.data.level}}{{#if (eq item.data.data.level 0)}} - {{localize "SKILL.Unlearned"}}{{/if}}</h4>
                </a>
            </div>

            {{#if section.hasActions}}
            <div class="item-detail item-uses">
                {{#if item.isOnCooldown}}
                <a class="item-recharge rollable">{{item.labels.recharge}}</a>
                {{else if item.data.recharge.value}}
                {{localize "DND5E.Charged"}}

                {{else if item.hasUses}}
                <input type="text" value="{{item.data.uses.value}}" placeholder="0" />/ {{item.data.uses.max}}
                {{/if}}
            </div>

            <div class="item-detail item-action">
                {{#if item.data.activation.type }}
                {{item.labels.activation}}
                {{/if}}
            </div>

            {{else if section.isClass}}
            <div class="item-detail player-class">
                {{item.data.subclass}}
            </div>
            <div class="item-detail item-action">
                Level {{item.data.levels}}
            </div>
            {{/if}}

            {{#if section.columns}}
            {{#each section.columns}}
            <div class="item-detail {{css}}">
                {{#with (getProperty item property)}}
                {{#if ../editable}}
                <input type="text" value="{{this}}" placeholder="&mdash;"
                       data-dtype="{{../editable}}">
                {{else}}
                {{this}}
                {{/if}}
                {{/with}}
            </div>
            {{/each}}
            {{/if}}

            {{#if ../../owner}}
            <div class="item-controls">
                {{#if section.crewable}}
                <a class="item-control item-toggle {{item.toggleClass}}"
                   title="{{item.toggleTitle}}">
                    <i class="fas fa-sun"></i>
                </a>
                {{/if}}
                {{#if (not item.locked)}}
                {{#if (gt (default_value item.reference.level 3) item.data.data.level)}}
                <a class="item-control item-learn" title="{{localize "DRDP2.SkillLearn"}}"><i class="fas fa-plus"></i></a>
                {{/if}}
                <a class="item-control item-unlearn" title="{{localize "DRDP2.SkillUnlearn"}}">
                    {{#if (eq 0 item.data.data.level)}}
                    <i class="fas fa-trash"></i>
                    {{else}}
                    <i class="fas fa-minus"></i>
                    {{/if}}
                </a>
                {{/if}}
            </div>
            {{/if}}
        </li>
        {{/each}}
    </ol>
    {{/each}}
</ol>
