<div class="flexrow">
    <div class="attribute-scores">
        {{!-- Ability Scores --}}
        <div class="attribute-group">
            {{#each config.mainAttributes.body as |attribute id|}}
            <div class="attribute flexrow" data-set="body" data-attribute="{{id}}">
                <h4 class="attribute-name box-title">{{attr "body" id}}</h4>
                <input class="attribute-score" name="data.attributes.body.{{id}}.value" type="number" value="{{attr_value ../data.attributes "body" id}}" placeholder="0" readonly />
            </div>
            {{/each}}
        </div>
        <div class="attribute-group">
            {{#each config.mainAttributes.mind as |attribute id|}}
            <div class="attribute flexrow" data-set="mind" data-attribute="{{id}}">
                <h4 class="attribute-name box-title">{{attr "mind" id}}</h4>
                <input class="attribute-score" name="data.attributes.mind.{{id}}.value" type="number" value="{{attr_value ../data.attributes "mind" id}}" placeholder="0" readonly />
            </div>
            {{/each}}
        </div>
        <div class="attribute-group">
            {{#each config.mainAttributes.sizes as |attribute id|}}
            <div class="attribute flexrow" data-set="sizes" data-attribute="{{id}}">
                <h4 class="attribute-name box-title">{{attr "sizes" id}}</h4>
                <input class="attribute-score" name="data.attributes.sizes.{{id}}.value" type="number" value="{{attr_value ../data.attributes "sizes" id}}" placeholder="0" readonly />
            </div>
            {{/each}}
            <div class="attribute flexrow" data-set="sizes" data-attribute="{{id}}">
                <h4 class="attribute-name box-title">{{ localize "DRDP2.CombatWeight" }}</h4>
                <input type="checkbox" name="data.details.combat-equipment" {{checked data.details.combat-equipment}} />
            </div>
        </div>
    </div>
    <div class="attribute-scores">
        <div class="attribute-group">
            {{#each config.mainAttributes.reaction as |attribute id|}}
            <div class="attribute flexrow" data-set="reaction" data-attribute="{{id}}">
                <h4 class="attribute-name box-title">{{attr "reaction" id}}</h4>
                <input class="attribute-score" name="data.attributes.reaction.{{id}}.value" type="number" value="{{attr_value ../data.attributes "reaction" id}}" placeholder="0" readonly />
            </div>
            {{#if (eq id "sms")}}
            {{#each ../config.mainAttributes.senses as |attribute2 id2|}}
            {{#unless (eq ( attr_value ../../data.attributes "senses" id2 ) ( attr_value ../../data.attributes "reaction" id ) )}}
            <div class="attribute flexrow" data-set="reaction" data-attribute="{{id}}">
                <h4 class="attribute-name box-title">{{attr "senses" id2}}</h4>
                <input class="attribute-score" name="data.attributes.senses.{{id2}}.value" type="number" value="{{attr_value ../../data.attributes "senses" id2}}" placeholder="0" readonly />
            </div>
            {{/unless}}
            {{/each}}
            {{/if}}
            {{/each}}
        </div>
        <div class="attribute-group">
            {{#each config.mainAttributes.visage as |attribute id|}}
            <div class="attribute flexrow" data-set="visage" data-attribute="{{id}}">
                <h4 class="attribute-name box-title">{{attr "visage" id}}</h4>
                <input class="attribute-score" name="data.attributes.visage.{{id}}.value" type="number" value="{{attr_value ../data.attributes "visage" id}}" placeholder="0" readonly />
            </div>
            {{/each}}
        </div>
    </div>
</div>
